/**Font Face**/
/*Raleway regular*/
@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Raleway Extrabold*/
@font-face {
  font-family: 'RalewayExtrabold';
  src: url('../font/raleway-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Raleway Bold*/
@font-face {
  font-family: 'RalewayBold';
  src: url('../font/raleway-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Raleway Extralight*/
@font-face {
  font-family: 'RalewayExtralight';
  src: url('../font/raleway-extralight-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Raleway Heavy*/
@font-face {
  font-family: 'RalewayHeavy';
  src: url('../font/raleway-heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Raleway Light*/
@font-face {
  font-family: 'RalewayLight';
  src: url('../font/raleway-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Raleway Medium*/
@font-face {
  font-family: 'RalewayMedium';
  src: url('../font/raleway-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Raleway Semibold*/
@font-face {
  font-family: 'RalewaySemibold';
  src: url('../font/raleway-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Raleway Thin*/
@font-face {
  font-family: 'RalewayThin';
  src: url('../font/raleway-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/** RESET AND LAYOUT
===================================*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  color: #333333;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
textarea {
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0;
  background: transparent;
  font-family: 'Raleway', sans-serif;
}
*:focus {
  outline: none;
}
input[type="color"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="submit"],
input[type="search"],
button[type="submit"],
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 10px;
}
.input-wrap {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
button[type="submit"],
input[type="submit"] {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  /*for firefox*/
  /*for chrome*/
}
/*for IE10*/
/** Default Text
===================================*/
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: 'Raleway', sans-serif;
  color: #333;
  line-height: 1.45em;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}
a,
a:visited {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
a:hover {
  cursor: pointer;
}
b em,
b i,
strong em,
strong i,
em b,
i b,
em strong,
i strong {
  font-family: Geneva, sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
}
input[type="radio"] {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Proxi-Bold', Geneva, sans-serif;
  font-weight: normal;
  line-height: 1em;
}
.smv-page-header-title,
p {
  line-height: 1.35em;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto !important;
  border: 0;
}
/* all */
::-webkit-input-placeholder {
  color: #333333;
  font-family: 'Raleway', sans-serif;
}
::-moz-placeholder {
  color: #333333;
  font-family: 'Raleway', sans-serif;
}
/* firefox 19+ */
:-ms-input-placeholder {
  color: #333333;
  font-family: 'Raleway', sans-serif;
}
/* ie */
input:-moz-placeholder {
  color: #333333;
  font-family: 'Raleway', sans-serif;
}
.smv-btn-default {
  background: #1b1b1b;
  color: #fff;
  padding: 6px;
  margin: 0;
  border: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  cursor: pointer;
}
/* clearfix */
.smv-clr:before,
.mv-clr:after {
  content: " ";
  display: table;
}
.mv-clr:after {
  clear: both;
}
/* For IE 6/7 only */
.mv-clr {
  *zoom: 1;
}
p {
  font-size: 14px;
}
select {
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none;
}
/*for IE10*/
select::-ms-expand {
  display: none;
}
/** CSS3 Animation
===================================*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadebutton {
  0% {
    background: #99cc00;
  }
  50% {
    background: #f7921e;
  }
  100% {
    background: #99cc00;
  }
}
@-moz-keyframes fadebutton {
  0% {
    background: #99cc00;
  }
  50% {
    background: #f7921e;
  }
  100% {
    background: #99cc00;
  }
}
@-webkit-keyframes fadebutton {
  0% {
    background: #99cc00;
  }
  50% {
    background: #f7921e;
  }
  100% {
    background: #99cc00;
  }
}
@-o-keyframes fadebutton {
  0% {
    background: #99cc00;
  }
  50% {
    background: #f7921e;
  }
  100% {
    background: #99cc00;
  }
}
sup {
  vertical-align: super;
  font-size: smaller;
}
.smv-right {
  float: right;
}
.smv-hidden {
  display: none;
}
.smv-show {
  display: inline-block !important;
}
.smv-overlay-bg {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 15;
}
.smv-collapse .smv-overlay-bg {
  display: block;
}
.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
  display: inline-block;
}
.smv-wrap {
  margin: 0 auto;
  width: 1160px;
}
@media (max-width: 1170px) {
  .smv-wrap {
    max-width: 1160px;
    margin: 0 10px;
    width: auto;
  }
}
@media screen and (min-width: 993px) {
  .smv-hide-des {
    display: none;
  }
}
/* Mixing & Variable*/
.smv-clr {
  clear: both;
}
.smv-block-content {
  clear: both;
  display: inline-block;
  width: 100%;
  float: left;
}
.smv-title-block {
  position: relative;
}
.smv-title-block h2 {
  color: #ef6013;
  font-family: "RalewayMedium", sans-serif;
  font-size: 26px;
  line-height: 28px;
  padding: 40px 0 30px;
  text-transform: uppercase;
}
.smv-reviews {
  margin-top: 10px;
}
.smv-reviews .smv-stars:before {
  font-family: 'FontAwesome';
  letter-spacing: 0px;
  font-size: 14px;
  color: #ffe11b;
}
.smv-reviews .smv-stars.smv-stars-20:before {
  content: '\f005';
}
.smv-reviews .smv-stars.smv-stars-40:before {
  content: '\f005\f005';
}
.smv-reviews .smv-stars.smv-stars-60:before {
  content: '\f005\f005\f005';
}
.smv-reviews .smv-stars.smv-stars-80:before {
  content: '\f005\f005\f005\f005';
}
.smv-reviews .smv-stars.smv-stars-100:before {
  content: '\f005\f005\f005\f005\f005';
}
.smv-reviews .smv-count {
  font-size: 14px;
  color: #a5a5a5;
  font-family: 'Arial';
  margin-left: 2px;
}
/* begin style header */
.smv-top-header {
  display: inline-block;
  width: 100%;
  float: left;
}
.smv-nav {
  display: inline-block;
}
.smv-head-left {
  float: left;
  margin: 15px 0 10px;
}
.smv-head-right li {
  float: left;
  padding: 0 12px;
  margin-top: 7px;
  border-right: 1px solid #c0c0c0;
}
.smv-head-right li a {
  padding-left: 22px;
  line-height: 20px;
  font-family: 'arial';
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.smv-head-right li a:hover {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -23px;
  background-repeat: no-repeat;
  color: #999;
}
.smv-head-right li.smv-login a {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -47px;
  background-repeat: no-repeat;
}
.smv-head-right li.smv-login a:hover {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -72px;
  background-repeat: no-repeat;
}
.smv-head-right li.smv-wishlist {
  border: 0;
}
.smv-head-right li.smv-wishlist a {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -101px;
  background-repeat: no-repeat;
}
.smv-head-right li.smv-wishlist a:hover {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -128px;
  background-repeat: no-repeat;
}
.smv-head-right .smv-mini-cart {
  border: 0;
  position: relative;
  background-color: #4a525f;
  padding: 6px 13px;
  margin: 0 0 0 10px;
  float: right;
}
.smv-head-right .smv-mini-cart a {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -158px;
  background-repeat: no-repeat;
  padding: 0px 0px 0 18px;
}
.smv-head-right .smv-mini-cart a:hover {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -158px;
  background-repeat: no-repeat;
}
.smv-head-right .smv-mini-cart a span.smv-qty-item {
  color: #111;
  background: #fff;
  font-size: 10px;
  font-family: 'Arial';
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  line-height: 15px;
  padding: 0px 4px;
  margin: 0 5px 0 0;
  display: inline-block;
}
.smv-head-right .smv-mini-cart a:after {
  color: #8f8f8f;
  content: "\f0d7";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 0 3px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}
.smv-head-right .smv-mini-cart a,
.smv-head-right .smv-mini-cart span {
  color: #fff;
  font-weight: 700;
}
.smv-head-right .smv-mini-cart .smv-wrap-mini-cart {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 300px;
  z-index: 1;
  background: #fff;
  border: 1px solid #ccc;
}
.smv-head-right .smv-mini-cart .smv-wrap-mini-cart .smv-emptry {
  padding: 15px;
}
.smv-head-right-bottom {
  clear: right;
  margin-top: 34px;
}
.smv-head-right-bottom .smv-input-box {
  margin: 0;
  padding: 0;
  width: 300px;
  display: inline-block;
  position: relative;
}
.smv-head-right-bottom .smv-input-box form {
  border: 3px solid #dedede;
}
.smv-head-right-bottom .smv-input-box form input {
  border: 0;
  color: #999;
  font-family: "arial";
  font-size: 14px;
  height: 33px;
  line-height: 18px;
  margin: 0;
  padding-right: 46px;
  width: 100%;
}
.smv-head-right-bottom .smv-input-box form button {
  border: 0;
  background: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 0px;
}
.smv-head-right-bottom .smv-input-box form button i {
  height: 39px;
  width: 39px;
  background: #ef6013;
  line-height: 39px;
  font-size: 22px;
  color: #fff;
}
.smv-head-right-bottom .smv-input-box form button:hover i {
  background: #d6460d;
}
.smv-head-right-bottom .smv-call-now {
  margin-left: 32px;
}
.smv-head-right-bottom .smv-call-now p {
  color: #999;
  font-family: "Arial";
  font-size: 11px;
  line-height: 12px;
  margin: 0;
}
.smv-head-right-bottom .smv-call-now a {
  color: #019ee1;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 31px;
}
.smv-head-right-bottom .smv-call-now a:hover {
  color: #019ee1;
}
/* end style header */
/* begin style menu top */
.smv-category {
  background: #312f30;
  border-bottom: 3px solid #ef6013;
}
.smv-category .smv-nav {
  float: right;
}
.smv-category .smv-nav li {
  display: inline-block;
  position: relative;
  float: left;
}
.smv-category .smv-nav li a {
  color: #fff;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 13px;
  line-height: 47px;
  text-transform: uppercase;
  padding: 3px 6px 0;
  display: inline-block;
}
.smv-category .smv-nav li i {
  display: none;
}
.smv-category .smv-nav li:hover {
  background: #1B1B1B;
}
.smv-category .smv-nav li:hover div.sub-category {
  display: inline-block;
}
.smv-category .smv-nav li div {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 3;
  min-width: 220px;
  background: #1B1B1B;
}
.smv-category .smv-nav li div li {
  width: 100%;
}
.smv-category .smv-nav li div li a {
  line-height: 20px;
  padding: 10px 15px;
  width: 100%;
  text-transform: none;
  font-family: "Raleway", sans-serif;
}
.smv-category .smv-nav li div li:hover {
  background: #312F30;
}
.smv-category .smv-nav li div li:hover a {
  color: #ef6013;
}
.smv-category .smv-nav li div li:hover div.sub-category2 {
  display: inline-block;
}
.smv-category .smv-nav li div li div.sub-category2 {
  display: none;
  top: 0px;
  left: 100%;
}
.smv-category .smv-nav li div li div.sub-category2 a {
  color: #fff;
}
.smv-category .smv-nav li div li div.sub-category2 a:hover {
  color: #ef6013;
}
.smv-category .smv-nav li.smv-title-menu a {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -180px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 16px;
}
.smv-category .smv-nav li.smv-title-menu a:hover {
  background-color: #312f30;
}
.smv-category .smv-nav li:last-child div {
  left: auto;
  right: 0 !important;
}
.smv-category .smv-nav li:last-child div div.sub-category2 {
  top: 0px;
  left: auto;
  right: 100% !important;
}
/* end style menu top */
/* begin style banner */
.smv-block-banner .smv-slider {
  position: relative;
}
.smv-block-banner .smv-slider li{
  text-align: center;
}
.smv-block-banner .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
  width: 100%;
}
.smv-block-banner .owl-dots .owl-dot {
  display: inline-block;
}
.smv-block-banner .owl-dots .owl-dot span {
  background: #231f20;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  height: 15px;
  margin: 0  5px;
  width: 15px;
}
.smv-block-banner .owl-dots .active span {
  background: #019ee1;
}
/* end style banner */
/* begin style category */
.smv-wrap-cate {
  margin: 0 -18px;
}
.smv-wrap-cate .smv-cate-item {
  width: 25%;
  float: left;
  margin-bottom: 20px;
}
.smv-wrap-cate .smv-cate-item .smv-wrap-item {
  margin: 0 18px;
  position: relative;
}
.smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-img {
  border: 1px solid #e5e5e5;
}
.smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-img img {
  width: 100%;
}
.smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-name {
  background: #f1f1f1;
  color: #231f20;
  margin-bottom: 0;
  padding: 3px 40px 3px 15px;
  height: 50px;
  overflow: hidden;
}
.smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-name h3 {
  color: #231f20;
  display: table-cell;
  font-family: "RalewayMedium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  vertical-align: middle;
  height: 50px;
}
.smv-wrap-cate .smv-cate-item .smv-wrap-item a.smv-cursor-arrow {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 23px;
  height: 23px;
  z-index: 1;
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -232px;
  background-repeat: no-repeat;
}
.smv-wrap-cate .smv-cate-item .smv-wrap-item a.smv-overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
/* end style category */
/* begin style tags */
.smv-tags {
  background: #F1F1F1;
  margin-top: 20px;
}
.smv-tags .smv-tags-item {
  width: 25%;
  padding: 15px 0;
  float: left;
  text-align: center;
}
.smv-tags .smv-tags-item .smv-wrap-item {
  padding: 0 10px;
  display: inline-block;
}
.smv-tags .smv-tags-item .smv-wrap-item p {
  display: table-cell;
  vertical-align: middle;
  color: #4a525f;
  font-family: "RalewaySemibold", sans-serif;
  font-size: 24px;
  line-height: 27px;
  margin: 0;
}
.smv-tags .smv-tags-item .smv-wrap-item p span {
  color: #4a525f;
  font-family: "arial";
  font-size: 18px;
  line-height: 21px;
  display: block;
}
.smv-tags .smv-tags-item .smv-wrap-item p img {
  margin-left: 10px;
}
/* end style tags */
/* begin style best seller */
.smv-btn-view-all a {
  color: #4a525f;
  float: right;
  font-family: "RalewayBold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0 0;
  text-decoration: none;
  text-transform: none;
}
.smv-btn-view-all a i {
  color: #ef6013;
  font-weight: 400;
  padding-left: 7px;
}
.smv-title-block .smv-btn-view-all {
  position: absolute;
  top: 41px;
  right: 0;
}
.smv-product-list {
  margin: 0 -22px;
  position: relative;
}
.smv-product-list .smv-product-item {
  width: 25%;
  float: left;
}
.smv-product-list .smv-product-item .smv-item {
  margin: 0 22px;
  text-align: center;
}
.smv-product-list .smv-product-item .smv-item .smv-item-img {
  position: relative;
  float: none;
  margin: 0 auto;
  display: inline-block;
}
.smv-product-list .smv-product-item .smv-item .smv-item-img a {
  float: left;
  border: 1px solid #e1e1e1;
}
.smv-product-list .smv-product-item .smv-item .smv-item-img span {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
}
.smv-product-list .smv-product-item .smv-item .smv-item-img span:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #000;
  opacity: 0.4;
  content: "";
}
.smv-product-list .smv-product-item .smv-item .smv-item-img span:hover:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "\f002";
  font-family: 'FontAwesome';
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-top: -15px;
}
.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off,
.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  font-size: 14px;
  font-family: 'RalewayExtrabold', sans-serif;
  line-height: 22px;
  padding: 0 7px;
  text-transform: uppercase;
  color: #fff;
  background: #ef6013;
}
.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off span:after,
.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method span:after {
  content: "SALE";
  color: #fff;
}
.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off span i,
.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method span i {
  display: none;
}
.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method {
  bottom: 7px;
  top: auto;
  left: auto;
  right: 7px;
  background: #b3b3b3;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info {
  text-align: left;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-product-name a {
  color: #4a525f;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  margin: 15px 0 0;
  height: 38px;
  overflow: hidden;
  display: inline-block;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-product-name a:hover {
  color: #9ba4b4;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  height: 45px;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
  display: inline-block;
  width: 50%;
  float: left;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
  font-family: 'Arial';
  font-weight: 400;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-old-price {
  color: #9d9d9d;
  text-decoration: line-through;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
  font-size: 20px;
  font-weight: 700;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price.smv-red {
  color: #da1010;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-condition {
  display: none;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add {
  margin-top: 10px;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a {
  background: #d8dde5;
  border: 0 none;
  border-radius: 0;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a span {
  color: #4a525f;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 14px;
  line-height: 34px;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a:hover {
  background: #ef6013;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a:hover span {
  color: #fff;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a i {
  display: none;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-coming-soon a {
  background: #f1f1f1;
  cursor: context-menu;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-coming-soon a:hover {
  background: #f1f1f1;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-coming-soon a:hover span {
  color: #4a525f;
}
/* end style best seller */
/* begin style recently viewed */
.smv-recently-viewed {
  display: inline-block;
  width: 100%;
}
.smv-list-recently {
  margin-top: -20px;
}
.smv-list-recently li {
  float: left;
  position: relative;
  width: 20%;
  margin: 15px  0 0;
}
.smv-list-recently li .smv-images {
  float: left;
  width: 90px;
}
.smv-list-recently li .smv-images img {
  border: 1px solid #e1e1e1;
}
.smv-list-recently li .smv-text {
  overflow: hidden;
  height: 90px;
}
.smv-list-recently li .smv-text p {
  padding: 0 15px;
}
.smv-list-recently li .smv-text p a {
  color: #4a525f;
  font-size: 14px;
  line-height: 18px;
  font-family: "RalewayMedium", sans-serif;
}
/* end style recently viewed */
/* begin style our brands */
.smv-our-brands {
  background: #f1f1f1;
  margin-top: 50px;
  padding-bottom: 20px;
}
.smv-our-brands ul {
  margin: 0 -10px;
}
.smv-our-brands ul li {
  width: 16.6%;
  height: 52px;
  text-align: center;
  float: left;
  margin: 15px 0;
  display: table;
}
.smv-our-brands ul li a {
  padding: 0 10px;
  display: table-cell;
  vertical-align: middle;
}
/* end style our brands */
/* begin style newsletter */
.smv-newsletter {
  background: #4a525f;
  padding-top: 25px;
}
.smv-newsletter .smv-title-newsletter {
  float: left;
  padding-bottom: 25px;
}
.smv-newsletter .smv-title-newsletter h3 {
  color: #fff;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -271px;
  background-repeat: no-repeat;
  padding: 0 15px 0 53px;
}
.smv-newsletter .smv-title-newsletter h3 span {
  color: #fff;
  font-family: "Arial";
  font-size: 14px;
  line-height: 17px;
  display: block;
  text-transform: none;
}
.smv-newsletter .smv-form-newsletter {
  float: left;
  padding-bottom: 25px;
}
.smv-newsletter .smv-form-newsletter form input {
  background: #fff;
  border: 0 none;
  border-radius: 0;
  color: #4a525f;
  font-family: "Arial";
  font-size: 14px;
  height: 40px;
  line-height: 18px;
  width: 268px;
  float: left;
}
.smv-newsletter .smv-form-newsletter form button {
  color: #fff;
  font-family: "RalewayBold", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background: #ef6013;
  border: 0 none;
  border-radius: 0;
  height: 40px;
  line-height: 20px;
  padding: 0 13px;
  float: left;
  margin-left: 5px;
  cursor: pointer;
}
.smv-newsletter .smv-form-newsletter form button:hover {
  background: #d6460d;
}
.smv-newsletter .smv-follow {
  float: right;
  padding-bottom: 25px;
}
.smv-newsletter .smv-follow h5 {
  color: #fff;
  float: left;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding-top: 11px;
  text-transform: uppercase;
}
.smv-newsletter .smv-follow ul {
  float: left;
  margin: 0;
  padding-left: 20px;
}
.smv-newsletter .smv-follow ul li {
  float: left;
  height: 40px;
  list-style: outside none none;
  margin: 0 0 0 6px;
  text-align: center;
  width: 40px;
}
.smv-newsletter .smv-follow ul li.smv-face-icon {
  background: #45619d;
}
.smv-newsletter .smv-follow ul li a {
  padding: 8px;
  display: inline-block;
}
.smv-newsletter .smv-follow ul li a i {
  color: #fff;
  font-size: 29px;
}
/* end style newsletter */
/* begin style footer */
#smv-main-footer {
  margin-top: 40px;
  display: inline-block;
  width: 100%;
  float: left;
}
.smv-our-brands + #smv-main-footer {
  margin-top: 0;
}
#smv-footer {
  background: #312f30;
  display: inline-block;
  width: 100%;
  float: left;
}
#smv-footer .smv-cate-item {
  float: left;
  width: 22%;
  margin-bottom: 17px;
  padding: 40px 0 0;
}
#smv-footer .smv-cate-item.smv-category-footer {
  width: 34%;
}
#smv-footer .smv-cate-item.smv-category-footer .smv-wrap-item {
  border-left: 0;
  padding-left: 0;
}
#smv-footer .smv-cate-item.smv-category-footer .smv-wrap-item li {
  width: 50% !important;
}
#smv-footer .smv-cate-item .smv-wrap-item {
  border-left: 1px solid #424242;
  min-height: 252px;
  padding: 0 30px;
  display: inline-block;
}
#smv-footer .smv-cate-item .smv-wrap-item h3.smv-item-title {
  padding-top: 15px;
  color: #fff;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 17px;
  text-transform: uppercase;
}
#smv-footer .smv-cate-item .smv-wrap-item .smv-group-login a {
  background: #ef6013;
  border: 0 none;
  color: #fff;
  display: inline-block;
  font-family: "RalewayBold", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 13px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#smv-footer .smv-cate-item .smv-wrap-item .smv-group-login a:hover {
  background: #d6460d;
  text-decoration: none;
}
#smv-footer .smv-cate-item .smv-wrap-item .smv-group-login a.smv-login {
  margin-right: 10px;
}
#smv-footer .smv-cate-item .smv-wrap-item ul li {
  margin: 0;
  padding-bottom: 8px;
  float: left;
  width: 100%;
}
#smv-footer .smv-cate-item .smv-wrap-item ul li a {
  color: #ccc;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
}
#smv-footer .smv-cate-item .smv-wrap-item ul li a:hover {
  color: #999;
  text-decoration: none;
}
#smv-footer .smv-cate-item.smv-accept .smv-wrap-item {
  padding-right: 0;
  float: right;
}
#smv-footer .smv-cate-item.smv-accept .smv-wrap-item li {
  width: auto;
  margin: 0 5px 13px 0;
}
.smv-copy-right {
  background: #231f20 none repeat scroll 0 0;
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  float: left;
}
.smv-copy-right .smv-footer-copy-left {
  background: #fff;
  float: left;
  padding: 0 5px;
  width: 130px;
}
.smv-copy-right .smv-footer-copy-right {
  display: inline-block;
  float: right;
  padding-top: 10px;
}
.smv-copy-right .smv-footer-copy-right p {
  float: left;
  margin: -2px 0 0;
  padding-right: 15px;
  text-align: right;
}
.smv-copy-right .smv-footer-copy-right p span {
  color: #fff;
  display: block;
  font-family: "Arial";
  font-size: 14px;
  line-height: 21px;
  width: 100%;
}
.smv-copy-right .smv-footer-copy-right a {
  float: right;
}
/* end style footer */
/* begin style page detail */
.smv-break-crumb {
  margin: 25px 0;
}
.smv-break-crumb ul li {
  display: inline;
}
.smv-break-crumb ul li a,
.smv-break-crumb ul li span {
  color: #231f20;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Arial';
  line-height: 18px;
  position: relative;
}
.smv-break-crumb ul li a:after {
  content: "\f105";
  font-family: 'FontAwesome';
  color: #858585;
  font-weight: 400;
  padding: 0 5px 0 8px;
}
.smv-break-crumb ul li span {
  color: #858585;
  font-weight: 400;
}
.smv-product-detail h2.smv-product-name {
  color: #4a525f;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
}
.smv-product-container {
  margin: 20px 0 0;
  display: inline-block;
  width: 100%;
}
.smv-product-info-main {
  float: right;
  width: 50%;
}
.smv-sku-code {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #848484;
  font-weight: normal;
}
.smv-sku-code b {
  color: #2c2c2c;
}
.smv-product-reviews-summary span,
.smv-product-reviews-summary a {
  border: 0 none;
  color: #2c2c2c;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  padding-left: 0;
}
.smv-product-reviews-summary span.smv-label {
  font-weight: bold;
}
.smv-product-reviews-summary .smv-reviews {
  display: inline-block;
  padding-left: 5px;
  margin: 7px 0 0;
}
.smv-product-reviews-summary .smv-reviews-actions {
  margin-top: 5px;
}
.smv-product-reviews-summary .smv-reviews-actions a {
  color: #848484;
}
.smv-product-reviews-summary .smv-reviews-actions a:hover {
  color: #b2b2b2 ;
  text-decoration: underline;
}
.smv-product-reviews-summary .smv-reviews-actions span.smv-line {
  padding: 0 7px;
  color: #848484;
}
.smv-product-brand {
  border-top: 1px solid #cccccc;
  display: inline-block;
  font-family: "Arial";
  color: #231f24;
  font-size: 14px;
  line-height: 18px;
  padding-top: 25px;
  margin-top: 20px;
  width: 100%;
}
.smv-product-brand span {
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: top;
}
.smv-product-brand img {
  padding: 0 20px 0 30px;
}
.smv-product-brand a {
  color: #848484;
  position: relative;
  vertical-align: middle;
}
.smv-product-brand a:after {
  content: "\f105";
  font-family: 'FontAwesome';
  padding-left: 3px;
}
.smv-product-brand a:hover {
  color: #b2b2b2;
}
.smv-img-gallery {
  float: left;
  width: 50%;
}
.smv-img-gallery .smv-main-image {
  padding-right: 60px;
}
.smv-product-price {
  border-top: 1px solid #cccccc;
  margin: 25px 0 2px;
  padding-top: 34px;
  width: 100%;
}
.smv-product-price .price-wrapper {
  margin-bottom: 5px;
}
.smv-product-price span {
  color: #231f20;
  font-family: "Arial";
  font-size: 18px;
  line-height: 23px;
  min-width: 150px;
  display: inline-block;
}
.smv-product-price span.smv-price {
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
}
.smv-product-price span.smv-price-was {
  color: #848484;
}
.smv-product-price span.smv-price-save {
  color: #da1010;
}
.smv-product-add-form {
  padding-top: 12px;
}
.smv-product-add-form .smv-quantity {
  display: inline-block;
  width: 100%;
}
.smv-product-add-form .smv-label {
  color: #231f20;
  font-family: "Arial";
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  margin-top: 8px;
}
.smv-product-add-form .smv-control {
  display: inline-block;
  padding-left: 20px;
  float: left;
  position: relative;
}
.smv-product-add-form .smv-control .smv-qty-decrease,
.smv-product-add-form .smv-control .smv-qty-increase {
  border: 0 none;
  border-radius: 0;
  float: left;
  height: 36px;
  width: 36px;
  margin-right: 2px;
  position: relative;
  top: 0;
}
.smv-product-add-form .smv-control .smv-qty-decrease:hover,
.smv-product-add-form .smv-control .smv-qty-increase:hover {
  background-color: #575757 !important;
}
.smv-product-add-form .smv-control .smv-qty-decrease {
  background-color: #7e7e7e;
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -317px;
  background-repeat: no-repeat;
}
.smv-product-add-form .smv-control .smv-qty-increase {
  background-color: #7e7e7e;
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -354px;
  background-repeat: no-repeat;
}
.smv-product-add-form .smv-control .smv-qty {
  float: left;
  margin-right: 2px;
  border: 1px solid #cccccc;
  border-radius: 1px;
  color: #8b8b8b;
  font-family: "arial";
  font-size: 18px;
  height: 36px;
  line-height: 20px;
  text-align: center;
  width: 56px;
  -moz-appearance: textfield;
}
.smv-product-add-form .smv-stock {
  margin: 8px 0 3px;
  display: inline-block;
  float: left;
}
.smv-product-add-form .smv-stock a {
  color: #289942;
  display: inline-block;
  font-family: "Arial";
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  padding-left: 35px;
  text-transform: none;
  position: relative;
}
.smv-product-add-form .smv-stock a:before {
  content: "\f058";
  font-family: 'FontAwesome';
  padding-right: 5px;
}
.smv-product-add-form .smv-actions {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.smv-product-add-form .smv-actions p {
  display: inline-block;
}
.smv-product-add-form .smv-actions p button {
  width: 230px;
  background: #36b252;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font-family: "RalewayBold", sans-serif;
  font-size: 20px;
  line-height: 22px;
  padding: 11px 0;
  text-transform: uppercase;
}
.smv-product-add-form .smv-actions p button span {
  color: #fff;
  font-family: "RalewayBold", sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}
.smv-product-add-form .smv-actions p button:hover {
  background: #1f8e38;
}
.smv-product-add-form .smv-actions p a {
  color: #4a525f;
  display: inline-block;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 12px 0 0 32px;
  text-transform: uppercase;
}
.smv-product-add-form .smv-actions p a:hover {
  color: #717e94;
}
.smv-product-info-main .smv-tags {
  background: #fff;
  margin: 30px -5px 0;
}
.smv-product-info-main .smv-tags .smv-tags-item {
  width: auto;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
  float: left;
  min-width: 117px;
  text-align: center;
  background: #f1f1f1;
  height: 110px;
}
.smv-product-info-main .smv-tags .smv-tags-item .smv-wrap-item {
  padding: 15px 5px 0px;
}
.smv-product-info-main .smv-tags .smv-tags-item p {
  display: block;
  font-size: 16px ;
  line-height: 16px ;
  margin: 0 0 5px;
}
.smv-product-info-main .smv-tags .smv-tags-item p span {
  font-size: 14px ;
  line-height: 14px ;
}
.smv-product-info-main .smv-tags .smv-tags-item p img {
  margin-left: 0px;
}
.smv-product-info-main .smv-tags .smv-tags-item p:last-child {
  height: 45px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  float: none;
  margin: 0 auto;
}
.smv-block-shipping-estimate {
  background: #f1f1f1;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.smv-block-shipping-estimate .smv-postage {
  padding: 20px 15px;
  display: inline-block;
}
.smv-block-shipping-estimate h3 {
  color: #4a525f;
  font-family: "RalewayMedium", sans-serif;
  font-size: 21px;
  line-height: 23px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.smv-block-shipping-estimate p.smv-block-subtitle {
  color: #999;
  float: left;
  font-family: "Arial";
  font-size: 14px;
  line-height: 16px;
  padding-right: 15px;
  width: 28%;
}
.smv-block-shipping-estimate .smv-shipping-estimation-form {
  display: inline-block;
  float: left;
}
.smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 1px;
  float: left;
  height: 32px;
  width: 253px;
  position: relative;
}
.smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country:after {
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 8px;
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -425px;
  background-repeat: no-repeat;
  width: 11px;
  height: 6px;
  content: "";
}
.smv-block-shipping-estimate select,
.smv-block-shipping-estimate input {
  padding: 0 14px;
  border: 0 none;
  color: #5d5d5d;
  font-family: "Arial";
  font-size: 14px;
  height: 30px;
  width: 100%;
}
.smv-block-shipping-estimate .smv-input-box {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 1px;
  float: left;
  height: 32px;
  margin: 0 6px;
  width: 72px;
}
.smv-block-shipping-estimate .smv-input-box input {
  padding: 0 5px;
}
.smv-block-shipping-estimate .smv-actions {
  float: left;
}
.smv-block-shipping-estimate .smv-actions button {
  background: none;
  border: 0 none;
  padding: 0;
}
.smv-block-shipping-estimate .smv-actions button span {
  background: #ef6013;
  color: #fff;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  width: 39px;
  font-family: "RalewayBold", sans-serif;
  text-transform: uppercase;
  display: inline-block;
}
.smv-block-shipping-estimate .smv-actions button:hover span {
  background: #d6460d;
}
.smv-you-might-also-like {
  width: 100%;
  display: inline-block;
}
.smv-you-might-also-like .smv-product-list {
  margin-top: -20px;
}
.smv-you-might-also-like .smv-product-list .smv-product-item {
  margin-top: 20px;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img {
  width: 50%;
  float: left;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img a {
  margin-right: 15px;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method {
  display: none;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off {
  padding: 0 4px;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off span {
  font-size: 8.91px;
  line-height: 14px;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img span:hover:before,
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img span:hover:after {
  display: none;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info {
  width: 50%;
  float: left;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-product-name a {
  font-size: 12px;
  line-height: 17px;
  text-transform: none;
  margin: 0;
  height: 34px;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price {
  height: auto;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
  font-size: 16px;
  line-height: 18px;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-red {
  color: #da1010;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-old-price {
  color: #515151;
  font-size: 14px;
  line-height: 18px;
  text-decoration: line-through;
  float: right;
  width: auto;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-mrsp-price,
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-save-price {
  display: none;
}
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-coming-soon a span {
  font-size: 11px;
}
.smv-information {
  margin-top: 40px;
  width: 100%;
  display: inline-block;
}
.smv-btn-change-tab ul {
  width: 100%;
  display: inline-block;
  float: left;
  margin: 30px 0 0;
}
.smv-btn-change-tab ul li {
  float: left;
  list-style: outside none none;
  margin: 0 6px 0 0;
}
.smv-btn-change-tab li a,
.smv-title-tab {
  background: #d8dde5 none repeat scroll 0 0;
  border-bottom: 3px solid #d8dde5;
  color: #9ba4b4;
  display: inline-block;
  font-family: "RalewayExtrabold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 16px 10px;
  text-transform: uppercase;
}
.smv-btn-change-tab li.active a,
.smv-title-tab {
  background: #4a525f;
  border-bottom: 3px solid #019ee1;
  color: #fff;
}
.smv-tab-content {
  color: #404040;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  margin-top: -1px;
  min-height: auto;
  width: 100%;
  float: left;
}
.smv-tab-content .smv-content-text {
  padding: 20px 24px;
  border: 1px solid #cccccc;
}
.smv-tab-content p,
.smv-tab-content li,
.smv-tab-content a,
.smv-tab-content td,
.smv-tab-content th,
.smv-tab-content span {
  color: #404040;
  font-family: "Arial";
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}
.smv-tab-content ul {
  margin: 0;
  padding: 0;
}
.smv-tab-content ul li {
  list-style: none;
}
.smv-tab-content ul li strong {
  display: inline-block;
  min-width: 119px;
}
.smv-tab-content ul li:before {
  content: "\f105";
  font-family: 'FontAwesome';
  width: 10px;
  height: 10px;
  padding-right: 10px;
  color: #ef6013;
}
.smv-tab-content img {
  max-width: 100%;
}
.smv-tab-content table {
  width: 100%;
}
.smv-tab-content table tr {
  background: #fff;
}
.smv-tab-content table tr td,
.smv-tab-content table tr th {
  padding: 7px 10px;
  font-family: 'Arial';
  font-size: 14px;
  color: #404040;
  line-height: 20px;
  margin: 0;
}
.smv-tab-content table tr td:first-child,
.smv-tab-content table tr th:first-child {
  font-weight: bold;
  width: 42%;
}
.smv-tab-content table tr:nth-child(2n) {
  background: #f4f4f4;
}
.smv-tab-description .smv-box-tab {
  width: 50%;
  float: left;
}
.smv-tab-description #smv-box-tab-1 .smv-content-text {
  margin-right: 24px;
}
.smv-tab-description #smv-box-tab-2 .smv-content-text,
.smv-tab-description #smv-box-tab-2 .smv-title-tab {
  margin-left: 24px;
}
/* end style page detail */
/* begin style page list */
.smv-sidebar-main {
  width: 22%;
  float: left;
  position: relative;
}
.smv-sidebar-main .smv-filter-header {
  display: none;
}
.smv-sidebar-main .smv-filter-header .smv-filter-title {
  color: #111111;
  font-family: "RalewayBold";
  font-size: 20px;
  text-transform: uppercase;
}
.smv-sidebar-main .smv-filter-list .smv-btn-clear {
  display: none;
  font-size: 14px;
  text-decoration: underline;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.smv-sidebar-main .smv-filter-list .smv-title {
  background: #4a525f;
  border-top: 1px solid #d9d9d9;
}
.smv-sidebar-main .smv-filter-list .smv-title span {
  color: #fff;
  font-family: "RalewayBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px 18px;
  display: inline-block;
}
.smv-sidebar-main .smv-filter-list .smv-filter-items {
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-top: 0;
}
.smv-sidebar-main .smv-filter-list .smv-filter-items ul li {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 0;
}
.smv-sidebar-main .smv-filter-list .smv-filter-items ul li:last-child {
  border: 0;
}
.smv-sidebar-main .smv-filter-list .smv-filter-items ul li a {
  color: #111;
  display: block;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  padding: 13px 15px;
}
.smv-sidebar-main .smv-filter-list .smv-filter-items ul li a span {
  color: #999;
  padding-left: 5px;
}
.smv-sidebar-main .smv-filter-list .smv-filter-items ul li a:hover {
  background: #ebebeb;
}
.smv-sidebar-main .smv-filter-group {
  margin-bottom: 20px;
}
.smv-sidebar-main .smv-filter-group:last-child {
  margin: 0;
}
.smv-main {
  width: 78%;
  float: left;
}
.smv-main .smv-main-container {
  margin-left: 20px;
}
.smv-main .smv-page-title-wrapper h1.smv-page-title {
  color: #ef6013;
  font-family: "RalewayMedium", sans-serif;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  width: 100%;
}
.smv-tool-bar {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.smv-tool-bar .font-base-tool-bar {
  color: #333;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.smv-tool-bar .smv-sort-by {
  display: inline-block;
}
.smv-tool-bar .smv-sort-by label,
.smv-tool-bar .smv-sort-by .smv-sort-by-select {
  text-align: left;
  color: #333;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.smv-tool-bar .smv-sort-by .smv-sort-by-select {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
.smv-tool-bar .smv-sort-by .smv-sort-by-select:after {
  content: "";
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 1;
  width: 28px;
  height: 28px;
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -456px;
  background-repeat: no-repeat;
}
.smv-tool-bar .smv-sort-by .smv-sort-by-select select {
  border: 1px solid #ccc;
  color: #333;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  height: 29px;
  padding: 3px 30px 3px 10px;
  width: 166px;
}
.smv-tool-bar .smv-pages {
  display: inline-block;
  float: right;
}
.smv-tool-bar .smv-pages p {
  color: #333;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
}
.smv-tool-bar .smv-pages ol {
  display: inline-block;
}
.smv-tool-bar .smv-pages ol li,
.smv-tool-bar .smv-pages ol a {
  color: #333;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
}
.smv-tool-bar .smv-pages ol li {
  margin: 0 0 0 2px;
  position: relative;
  padding: 6px 4px;
}
.smv-tool-bar .smv-pages ol li.smv-current {
  background: #4a525f;
  color: #fff !important;
}
.smv-tool-bar .smv-pages ol li.smv-item a {
  display: inline-block;
  height: 19px;
  text-indent: -99999px;
  width: 15px;
}
.smv-tool-bar .smv-pages ol li.smv-item .smv-next {
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -499px;
  background-repeat: no-repeat;
}
.smv-tool-bar .smv-pages ol li.smv-item .smv-prev {
  transform: rotate(180deg);
  background-image: url(../images/css/MH-bg.png);
  background-position: 0 -499px;
  background-repeat: no-repeat;
}
.smv-wrap-product-list {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 25px;
}
.smv-wrap-product-list:before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
  background: #fff;
  z-index: 2;
}
.smv-wrap-product-list:after {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -10px;
  background: #fff;
  z-index: 2;
}
.smv-wrap-product-list .smv-product-list {
  margin: 0 -10px;
}
.smv-wrap-product-list .smv-product-list .smv-product-item {
  margin: 0;
}
.smv-wrap-product-list .smv-product-list .smv-product-item .smv-item {
  border-right: 1px solid #efefef;
  border-top: 1px solid #efefef;
  padding: 25px 10px;
  margin: 0;
}
.smv-wrap-product-list .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
  font-size: 14px;
  line-height: 18px;
}
.smv-wrap-product-list .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
  font-size: 18px;
  line-height: 18px;
}
.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(1) .smv-item,
.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(2) .smv-item,
.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(3) .smv-item,
.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(4) .smv-item {
  border-top: 0;
  padding-top: 0;
}
.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(4n) .smv-item {
  border-right: 0;
}
/* end style page list */
/* RESPONSIVE */
@media screen and (max-width: 1199px) {
  .smv-head-left.smv-logo img {
    width: 300px;
  }
  .smv-tags .smv-tags-item .smv-wrap-item p {
    font-size: 21px;
    line-height: 25px;
  }
  .smv-newsletter .smv-title-newsletter h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .smv-newsletter .smv-title-newsletter h3 span {
    font-size: 12px;
    line-height: 15px;
  }
  .smv-newsletter .smv-form-newsletter form input {
    width: 240px;
  }
  #smv-footer .smv-cate-item .smv-wrap-item {
    padding: 0 20px;
  }
  /* begin style page detail */
  .smv-product-info-main .smv-tags .smv-tags-item {
    min-width: 117px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p {
    font-size: 16px;
    line-height: 16px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p span {
    font-size: 14px;
    line-height: 16px;
  }
  .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
    width: 238px;
  }
  .smv-block-shipping-estimate p.smv-block-subtitle {
    font-size: 13px;
  }
  .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
    width: 186px;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a span {
    font-size: 11px;
    line-height: 25px;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
    font-size: 14px;
    line-height: 15px;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-old-price {
    font-size: 12px;
    line-height: 15px;
  }
  /* end style page detail */
}
@media screen and (max-width: 1140px) {
  /* begin style page detail */
  .smv-product-info-main .smv-tags .smv-tags-item {
    min-width: 110px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p {
    font-size: 15px;
    line-height: 15px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p span {
    font-size: 13px;
    line-height: 15px;
  }
  /* end style page detail */
  /* begin style page list */
  .smv-wrap-product-list .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
    font-size: 12px;
    line-height: 18px;
  }
  .smv-wrap-product-list .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
    font-size: 16px;
    line-height: 18px;
  }
  /* end style page list */
}
@media screen and (max-width: 1024px) {
  .smv-head-left.smv-logo img {
    width: 300px;
  }
  .smv-wrap-cate {
    margin: 0 -10px;
  }
  .smv-wrap-cate .smv-cate-item .smv-wrap-item {
    margin: 0 10px;
  }
  .smv-product-list {
    margin: 0 -10px;
  }
  .smv-product-list .smv-product-item .smv-item {
    margin: 0 10px;
  }
  .smv-list-recently li {
    width: 25%;
  }
  /* begin style page detail */
  .smv-product-info-main .smv-tags .smv-tags-item {
    height: 100px;
    min-width: 99px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p {
    font-size: 14px;
    line-height: 14px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p span {
    font-size: 12px;
    line-height: 14px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p:last-child {
    height: 35px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item:last-child img {
    width: 50px;
  }
  /* end style page detail */
}
@media screen and (max-width: 992px) {
  #smv-main-header {
    padding: 10px 0;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .smv-hide-des {
    float: left;
    margin-top: 13px;
    z-index: 16;
    position: relative;
  }
  .smv-hide-des a i {
    font-size: 28px;
    color: #312f30;
  }
  .smv-collapse .smv-hide-des.smv-nav-bar {
    position: absolute;
    margin: 0;
    z-index: 130;
    right: 10px;
    top: 0;
  }
  .smv-collapse .smv-hide-des.smv-nav-bar a {
    width: 50px;
    height: 50px;
    background: #312f30;
    text-align: center;
    display: inline-block;
  }
  .smv-collapse .smv-hide-des.smv-nav-bar a:before {
    font-size: 28px;
    color: #fff;
    line-height: 50px;
  }
  .smv-head-left.smv-logo {
    margin: 0 0 0 15px;
  }
  .smv-head-left.smv-logo img {
    width: 130px;
  }
  .smv-head-right li {
    display: none;
  }
  .smv-head-right-bottom {
    width: 100%;
    margin: 10px 0 0;
  }
  .smv-head-right-bottom .smv-call-now {
    margin-left: 0;
    position: absolute;
    top: 19px;
    z-index: 1;
  }
  .smv-head-right-bottom .smv-call-now p {
    font-size: 11px;
    line-height: 12px;
  }
  .smv-head-right-bottom .smv-call-now a {
    font-size: 18.5px;
    line-height: 25px;
  }
  .smv-head-right-bottom .smv-search-box {
    width: 100%;
  }
  .smv-head-right-bottom .smv-search-box .smv-input-box {
    width: 100%;
  }
  .smv-category {
    bottom: 0;
    background: none;
    left: -100%;
    margin-top: 0;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    /*transition: all 0.7s ease 0s;*/
    width: 100%;
    z-index: 100;
    height: auto;
  }
  .smv-category .smv-wrap {
    margin: 0;
    padding: 0 60px 0 0;
  }
  .smv-category .smv-nav {
    width: 100%;
  }
  .smv-category .smv-nav li {
    width: 100%;
    background: #ef6013;
    border-top: 1px solid #f28042;
  }
  .smv-category .smv-nav li:hover {
    background: #ef6013;
  }
  .smv-category .smv-nav li a {
    font-size: 13px;
    color: #fff;
    display: block;
    padding: 12px 40px 12px 15px;
    line-height: 18px;
  }
  .smv-category .smv-nav li div {
    display: none !important;
    position: initial;
    width: 100%;
  }
  .smv-category .smv-nav li div li {
    background: #fff;
    border-top: 1px solid #c1c0c1;
  }
  .smv-category .smv-nav li div li a {
    color: #312f30;
    padding-left: 30px;
  }
  .smv-category .smv-nav li div li:hover {
    background: #fff;
  }
  .smv-category .smv-nav li div li .fa-angle-down {
    color: #312f30;
  }
  .smv-category .smv-nav li div li div.sub-category2 li {
    border-top: 0;
  }
  .smv-category .smv-nav li div li div.sub-category2 li a {
    color: #312f30;
    padding-left: 50px;
  }
  .smv-category .smv-nav li div li:first-child {
    border-top: 0;
  }
  .smv-category .smv-nav li i {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
  }
  .smv-category .smv-nav li i.fa-angle-down {
    display: inline-block;
  }
  .smv-category .smv-nav li.active > div {
    display: inline-block !important;
    float: left;
  }
  .smv-category .smv-nav li.active > i.fa-angle-down {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  .smv-category .smv-nav li.smv-title-menu {
    background: #fff !important;
    border-top: 0;
  }
  .smv-category .smv-nav li.smv-title-menu a {
    background-image: url(../images/css/MH-bg.png);
    background-position: 0 -184px;
    background-repeat: no-repeat;
    display: block;
    margin-left: 12px;
    text-indent: 0;
    color: #312f30;
    padding: 15px 10px 15px 25px;
  }
  .smv-category .smv-nav li.smv-title-menu a:hover {
    background-color: #fff;
  }
  .smv-collapse .smv-category {
    left: 0;
  }
  .smv-collapse .smv-nav-bar a:before {
    content: "\f00d";
    font-family: 'FontAwesome';
    font-size: 28px;
    color: #312f30;
    padding: 2px 0 0 2px;
  }
  .smv-collapse .smv-nav-bar a i {
    display: none;
  }
  /* begin style page detail */
  .smv-img-gallery .smv-main-image {
    padding: 0 30px 0 0;
  }
  .smv-product-info-main .smv-tags .smv-tags-item {
    min-width: 96px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p {
    font-size: 13px;
    line-height: 13px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p span {
    font-size: 11px;
    line-height: 13px;
  }
  /* end style page detail */
}
@media screen and (max-width: 991px) {
  .smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-name {
    height: 30px;
    padding: 3px 30px 3px 10px;
  }
  .smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-name h3 {
    font-size: 13px;
    line-height: 14px;
    height: 30px;
  }
  .smv-wrap-cate .smv-cate-item .smv-wrap-item a.smv-cursor-arrow {
    background-size: 170px;
    background-image: url(../images/css/MH-bg.png);
    background-position: 0 -131px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    right: 5px;
    bottom: 9px;
  }
  .smv-tags .smv-tags-item {
    padding: 12px 0 8px;
  }
  .smv-tags .smv-tags-item .smv-wrap-item p {
    line-height: 18px;
    font-size: 15px;
  }
  .smv-tags .smv-tags-item .smv-wrap-item p span {
    line-height: 18px;
    font-size: 15px;
  }
  .smv-tags .smv-tags-item img {
    width: 24px;
  }
  .smv-tags .smv-tags-item:nth-child(2) img {
    width: 21px;
  }
  .smv-tags .smv-tags-item:nth-child(3) img {
    width: 18px;
  }
  .smv-tags .smv-tags-item:nth-child(4) img {
    width: 27px;
  }
  .smv-product-list {
    margin-top: -20px;
  }
  .smv-product-list .smv-product-item {
    width: 33.3%;
    margin-top: 20px;
  }
  .smv-list-recently li {
    width: 33.3%;
  }
  .smv-our-brands ul li {
    width: 25%;
    margin: 10px 0;
  }
  .smv-newsletter .smv-wrap > div {
    display: block;
    width: 100%;
  }
  .smv-newsletter .smv-form-newsletter {
    padding-left: 50px;
  }
  .smv-newsletter .smv-form-newsletter form input {
    width: 260px;
  }
  .smv-newsletter .smv-follow {
    padding-left: 50px;
    float: left;
  }
  #smv-footer {
    padding: 20px  0 0;
  }
  #smv-footer > .smv-wrap {
    margin: 0;
  }
  #smv-footer .smv-cate-item {
    width: 50% !important;
    padding: 0;
    margin: 0;
  }
  #smv-footer .smv-cate-item .smv-wrap-item {
    padding: 10px 10px 0px 35px !important;
    float: left !important;
  }
  #smv-footer .smv-cate-item.smv-account .smv-wrap-item {
    border: 0;
  }
  #smv-footer .smv-account {
    clear: left;
  }
  #smv-footer .smv-copy-right {
    margin-top: 20px;
  }
  /* begin style page detail */
  .smv-break-crumb {
    margin: 10px 0;
  }
  .smv-product-detail h2.smv-product-name {
    margin-top: 10px;
    font-size: 24px;
    line-height: 30px;
  }
  .smv-product-info-main {
    width: 100%;
  }
  .smv-img-gallery {
    width: 100%;
    text-align: center;
  }
  .smv-img-gallery .smv-main-image {
    padding: 20px 0 0;
  }
  .smv-product-brand {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 25px;
  }
  .smv-product-brand a {
    float: right;
  }
  .smv-tab-description .smv-box-tab {
    width: 100%;
  }
  .smv-tab-description #smv-box-tab-1 .smv-content-text {
    margin: 0;
  }
  .smv-tab-description #smv-box-tab-2 {
    margin-top: 10px;
  }
  .smv-tab-description #smv-box-tab-2 .smv-content-text,
  .smv-tab-description #smv-box-tab-2 .smv-title-tab {
    margin-left: 0;
  }
  .smv-btn-change-tab ul {
    margin-top: 10px;
  }
  /* end style page detail */
  /* begin style page list */
  .smv-sidebar-main {
    margin-top: 10px;
    width: 100%;
  }
  .smv-sidebar-main .smv-filter-header {
    margin: 0 0 10px;
    display: block;
  }
  .smv-sidebar-main .smv-filter-header .smv-filter-title {
    padding: 12px 18px;
    color: #fff;
    background: #4a525f;
    text-transform: none;
    position: relative;
  }
  .smv-sidebar-main .smv-filter-header .smv-filter-title:after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 16px;
  }
  .smv-sidebar-main .smv-filter-header.active .smv-filter-title:after {
    content: "\f0d8";
    top: 11px;
  }
  .smv-sidebar-main .smv-filter-list {
    display: none;
  }
  .smv-sidebar-main .smv-filter-group {
    margin-bottom: 10px;
  }
  .smv-sidebar-main .smv-filter-group .smv-title {
    position: relative;
  }
  .smv-sidebar-main .smv-filter-group .smv-title:after {
    content: "\f0d8";
    font-family: 'FontAwesome';
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 16px;
    color: #fff;
  }
  .smv-sidebar-main .smv-filter-group .smv-title.active:after {
    content: "\f0d7";
    top: 15px;
  }
  .smv-main {
    width: 100%;
  }
  .smv-main .smv-main-container {
    margin: 20px 0 0;
  }
  .smv-wrap-product-list .smv-product-list .smv-product-item .smv-item {
    border-right: 1px solid #efefef;
    border-top: 1px solid #efefef;
  }
  .smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(4) .smv-item {
    border-top: 1px solid #efefef;
    padding-top: 25px;
  }
  .smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(4n) .smv-item {
    border-right: 1px solid #efefef;
  }
  .smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(3n) .smv-item {
    border-right: 0;
  }
  /* end style page list */
}
@media screen and (max-width: 767px) {
  .smv-head-right {
    margin-top: 9px;
  }
  .smv-block-banner .owl-dots {
    bottom: 6px;
  }
  .smv-title-block h2 {
    padding: 30px 0 27px;
  }
  .smv-title-block .smv-btn-view-all {
    top: 31px;
  }
  .smv-wrap-cate {
    margin: 0 -8px;
  }
  .smv-wrap-cate .smv-cate-item {
    margin-bottom: 10px;
  }
  .smv-wrap-cate .smv-cate-item .smv-wrap-item {
    margin: 0 8px;
  }
  .smv-tags {
    margin-top: 10px;
  }
  .smv-tags .smv-tags-item .smv-wrap-item {
    padding: 0 5px;
  }
  .smv-tags .smv-tags-item .smv-wrap-item p {
    font-size: 13px;
    line-height: 16px;
  }
  .smv-tags .smv-tags-item .smv-wrap-item p span {
    font-size: 10.75px;
    line-height: 12px;
  }
  .smv-new-arrivals-slider,
  .smv-seller-slider {
    padding: 0 30px;
  }
  .owl-carousel.smv-product-list .smv-product-item {
    width: 100%;
  }
  .smv-product-list {
    margin: 0;
  }
  .smv-product-list .smv-product-item {
    margin: 0;
  }
  .smv-product-list .smv-product-item .smv-item {
    margin: 0;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off,
  .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off span,
  .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method {
    font-size: 11px;
    line-height: 17px;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-product-name a {
    font-size: 12px;
    line-height: 17px;
    height: 34px;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
    font-size: 13px;
    line-height: 18px;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
    font-size: 16px;
    line-height: 18px;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add {
    margin-top: 0;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a span {
    font-size: 12px;
    line-height: 32px;
  }
  .owl-controls .owl-nav div {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
  }
  .owl-controls .owl-nav div i {
    font-size: 50px;
    line-height: 30px;
  }
  .owl-controls .owl-nav div.owl-prev-product {
    left: -30px;
  }
  .owl-controls .owl-nav div.owl-next-product {
    right: -30px;
  }
  .smv-newsletter .smv-title-newsletter h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .smv-newsletter .smv-title-newsletter h3 span {
    font-size: 14px;
    line-height: 17px;
  }
  .smv-newsletter .smv-form-newsletter form input {
    width: 270px;
  }
  .smv-copy-right .smv-footer-copy-right p span {
    font-size: 12px;
    line-height: 19px;
  }
  /* Begin style page detail */
  .smv-product-add-form .smv-quantity .smv-stock {
    width: 50%;
    float: right;
    text-align: center;
  }
  .smv-product-add-form .smv-quantity .smv-stock a {
    padding-left: 0;
  }
  .smv-product-add-form .smv-actions p {
    width: 50%;
    float: left;
  }
  .smv-product-add-form .smv-actions p:last-child {
    text-align: center;
  }
  .smv-product-add-form .smv-actions p a {
    padding-left: 0;
  }
  .smv-product-info-main .smv-tags .smv-tags-item {
    height: 110px;
    min-width: 113px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p {
    font-size: 16px;
    line-height: 16px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p span {
    font-size: 14px;
    line-height: 14px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p:last-child {
    height: 45px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item img {
    width: auto;
  }
  .smv-product-info-main .smv-tags .smv-tags-item:last-child .smv-wrap-item {
    padding: 15px 31px 0;
  }
  .smv-product-info-main .smv-tags .smv-tags-item:last-child img {
    width: 60px;
  }
  .smv-block-shipping-estimate .smv-postage {
    padding: 20px 25px;
  }
  .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
    width: 267px;
  }
  .smv-block-shipping-estimate p.smv-block-subtitle {
    font-size: 14px;
  }
  .smv-you-might-also-like .smv-product-list {
    margin: -20px -10px 0;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item {
    width: 20%;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item {
    margin: 0 10px;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img {
    width: 100%;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img a {
    margin: 0;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info {
    display: none;
  }
  /* end style page detail */
}
@media screen and (max-width: 640px) {
  /* begin style page detail */
  .smv-product-add-form .smv-actions p button {
    width: 100%;
  }
  /* end style page detail */
}
@media screen and (max-width: 639px) {
  .smv-head-right-bottom .smv-call-now {
    display: none;
  }
  .smv-head-right .smv-mini-cart {
    padding: 6px 7px 6px 11px;
  }
  .smv-head-right .smv-mini-cart a::after {
    display: none;
  }
  .smv-block-banner .owl-dots {
    bottom: 4px;
  }
  .smv-block-banner .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 0 3px;
  }
  .smv-title-block h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .smv-wrap-cate {
    margin: 0 -3px;
  }
  .smv-wrap-cate .smv-cate-item {
    width: 50%;
  }
  .smv-wrap-cate .smv-cate-item .smv-wrap-item {
    margin: 0 3px;
  }
  .smv-tags {
    padding: 10px 0;
  }
  .smv-tags .smv-tags-item {
    width: 50%;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
    font-size: 11px;
    line-height: 16px;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
    font-size: 14px;
    line-height: 16px;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a span {
    font-size: 10.12px;
    line-height: 30px;
  }
  .smv-list-recently {
    margin: -10px -5px 0;
  }
  .smv-list-recently li {
    width: auto;
    margin: 10px 5px 0;
  }
  .smv-list-recently li .smv-text {
    display: none;
  }
  .smv-our-brands {
    margin-top: 30px;
  }
  .smv-our-brands .smv-title-block .smv-btn-view-all {
    display: none;
  }
  .smv-our-brands .smv-brands-content {
    padding: 0 30px;
  }
  .smv-our-brands ul {
    margin: 0;
  }
  .smv-our-brands ul li {
    width: 100%;
    text-align: center;
  }
  .smv-our-brands .owl-controls .owl-nav div {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    cursor: pointer;
  }
  .smv-our-brands .owl-controls .owl-nav div i {
    font-size: 50px;
  }
  .smv-our-brands .owl-controls .owl-nav div.owl-prev-brand {
    left: -30px;
  }
  .smv-our-brands .owl-controls .owl-nav div.owl-next-brand {
    right: -30px;
  }
  .smv-newsletter .smv-wrap {
    margin: 0 20px;
  }
  .smv-newsletter .smv-title-newsletter h3 {
    background: none;
    padding: 0;
    font-size: 17px;
  }
  .smv-newsletter .smv-form-newsletter {
    padding-left: 0;
  }
  .smv-newsletter .smv-form-newsletter form input {
    width: 220px;
  }
  .smv-newsletter .smv-follow {
    padding-left: 0;
  }
  #smv-footer .smv-cate-item {
    width: 100% !important;
  }
  #smv-footer .smv-cate-item .smv-wrap-item {
    padding: 10px 20px !important;
    border: 0;
    min-height: 10px;
  }
  .smv-copy-right {
    padding: 20px 10px;
  }
  .smv-copy-right .smv-footer-copy-right {
    width: 100%;
    padding-top: 20px;
  }
  .smv-copy-right .smv-footer-copy-right p {
    width: 100%;
    text-align: left;
  }
  .smv-copy-right .smv-footer-copy-right a {
    float: left;
    margin-top: 10px;
  }
  /* begin style page detail */
  .smv-product-detail h2.smv-product-name {
    font-size: 22px;
    line-height: 28px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item {
    min-width: 87px;
    height: 100px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p {
    font-size: 13px;
    line-height: 13px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p span {
    font-size: 11px;
    line-height: 13px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item p:last-child {
    height: 35px;
  }
  .smv-product-info-main .smv-tags .smv-tags-item:last-child .smv-wrap-item {
    padding: 15px 5px 0;
  }
  .smv-product-info-main .smv-tags .smv-tags-item:last-child img {
    width: 50px;
  }
  .smv-product-price p {
    display: inline-block;
    width: 100%;
  }
  .smv-product-price p span {
    width: 49%;
    min-width: 10px;
  }
  .smv-block-shipping-estimate p.smv-block-subtitle {
    width: 100%;
    padding: 0 0 15px;
  }
  .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
    width: 283px;
  }
  .smv-you-might-also-like .smv-product-list {
    margin: -10px -5px 0;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item {
    margin-top: 10px;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item {
    margin: 0 5px;
  }
  /* end style page detail */
  /* begin style page list */
  .smv-wrap-product-list .smv-product-list {
    margin: 0 -5px;
  }
  .smv-wrap-product-list .smv-product-list .smv-product-item {
    width: 50%;
  }
  .smv-wrap-product-list .smv-product-list .smv-product-item .smv-item {
    border: 0 !important;
    padding: 5px 5px !important;
    margin: 0;
  }
  .smv-tool-bar .smv-pages {
    display: none;
  }
  /* end style page list */
}
@media screen and (max-width: 479px) {
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
    font-size: 11px !important;
    line-height: 18px !important;
  }
  .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  /* begin stype page details */
  .smv-product-brand span {
    width: 50%;
    display: inline-block;
  }
  .smv-product-brand img {
    float: right;
    padding: 0;
  }
  .smv-product-brand a {
    display: inline-block;
    margin: 20px 0 0;
    clear: right;
  }
  .smv-product-add-form .smv-quantity {
    margin: 10px 0 0;
  }
  .smv-product-add-form .smv-quantity .smv-stock {
    width: 100%;
    margin: 20px 0 0;
  }
  .smv-product-add-form .smv-actions p {
    width: 100%;
  }
  .smv-product-add-form .smv-actions p a {
    padding: 0;
    margin: 20px 0 0;
  }
  .smv-product-info-main .smv-tags {
    padding: 0;
    margin: 10px  0 0;
    text-align: center;
  }
  .smv-product-info-main .smv-tags .smv-wrap-tags .smv-tags-item {
    width: 31%;
    margin: 10px 0 0;
    float: left;
  }
  .smv-product-info-main .smv-tags .smv-wrap-tags .smv-tags-item:nth-child(2) {
    margin: 10px auto 0 0;
    float: none;
  }
  .smv-product-info-main .smv-tags .smv-wrap-tags .smv-tags-item:nth-child(3) {
    float: right;
  }
  .smv-product-info-main .smv-tags .smv-wrap-tags .smv-tags-item:last-child {
    width: 100%;
  }
  .smv-block-shipping-estimate p.smv-block-subtitle {
    font-size: 13px;
  }
  .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
    width: 123px;
  }
  .smv-you-might-also-like .smv-product-list .smv-product-item {
    width: 33.3%;
  }
  /* end stype page details */
}
