/* Mixing & Variable*/

@color-base: #ef6013;
@color-base-hover: #d6460d;

.background-image-base (@position: 0 0){
	background-image: url(../images/css/MH-bg.png);
	background-position: @position;
	background-repeat: no-repeat;
}
.border-radius (@radius: 50%) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}
.transform(@rotate: 180deg){
    transform: rotate(@rotate);
    -moz-transform: rotate(@rotate);
    -webkit-transform: rotate(@rotate);
    -o-transform: rotate(@rotate);
    -ms-transform: rotate(@rotate);
}