/* RESPONSIVE */

@media screen and (max-width: 1199px) {
	.smv-head-left.smv-logo{
		img{
			width: 300px;
		}
	}
	.smv-tags{
		.smv-tags-item {
			.smv-wrap-item{
				p{
					font-size: 21px;
					line-height: 25px;
				}
			}
		}
	} 
	.smv-newsletter{
		.smv-title-newsletter{
			h3{
				font-size: 16px;
				line-height: 22px;
				span{
					font-size: 12px;
					line-height: 15px;
				}
			}
		} 
		.smv-form-newsletter{
			form{
				input{
					width: 240px;
				}
			}
		}

	}
	#smv-footer{
		.smv-cate-item{
			.smv-wrap-item{
				padding: 0 20px;
			}
		}
	}
	
	/* begin style page detail */
	.smv-product-info-main{
		.smv-tags{
			.smv-tags-item{
				min-width:117px;
				p{
					font-size: 16px;
					line-height: 16px;
					span{
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
		}
	}
	.smv-block-shipping-estimate{
		.smv-shipping-estimation-form{
			.smv-country{
				width: 238px;
			}
		}
	}
	.smv-block-shipping-estimate{
		p.smv-block-subtitle{
			font-size: 13px;
		}
		.smv-shipping-estimation-form{
			.smv-country{
				width: 186px;
			}
		}
	}
	.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info{
		.smv-btn-add a span{
			font-size: 11px;
    		line-height: 25px;	
		}
		.smv-item-price{
			p{
				font-size: 14px;
				line-height: 15px;
			}
			.smv-old-price{
				font-size: 12px;
				line-height: 15px;
			}
		}
	}
	/* end style page detail */
}
@media screen and (max-width: 1140px) {

	/* begin style page detail */
	.smv-product-info-main{
		.smv-tags{
			.smv-tags-item{
				min-width:110px;
				p{
					font-size: 15px;
					line-height: 15px;
					span{
						font-size: 13px;
						line-height: 15px;
					}
				}
			}
		}
	}
	/* end style page detail */
	/* begin style page list */
	.smv-wrap-product-list{
		.smv-product-list{
			.smv-product-item{
				.smv-item{
					.smv-item-info{
						.smv-item-price{
							p{
							    font-size: 12px;
							    line-height: 18px;
							}
							.smv-new-price{
							    font-size: 16px;
							    line-height: 18px;
							}
						}
					}
				}
			}
		}
	}
	/* end style page list */
}
@media screen and (max-width: 1024px) {
	.smv-head-left.smv-logo{
		img{
			width: 300px;
		}
	}
	.smv-wrap-cate{
		margin: 0 -10px;
		.smv-cate-item{
			.smv-wrap-item{
				margin: 0 10px;
			}
		}
	}
	.smv-product-list{
		margin: 0 -10px;
		.smv-product-item{
			.smv-item{
				margin: 0 10px;
			}
		}
	} 
	.smv-list-recently{
		li{
			width: 25%
		}
	}
	/* begin style page detail */

	.smv-product-info-main{
		.smv-tags{
			.smv-tags-item{
				height:100px;
				min-width:99px;
				p{
					font-size: 14px;
					line-height: 14px;
					span{
						font-size: 12px;
						line-height: 14px;
					}
				}
				p:last-child{
				    height: 35px;
				}
			}
			.smv-tags-item:last-child{
				img{
					width:50px;
				}
			}
		}
	}
	/* end style page detail */
}
@media screen and (max-width: 992px) {
	#smv-main-header{
		padding: 10px 0;
		position: relative;
		display: inline-block;
		width: 100%;
	}
	.smv-hide-des{
		float: left;
		margin-top: 13px;
		z-index: 16;
		position: relative;
		a i{
			font-size: 28px;
			color: #312f30
		}
	}
	.smv-collapse .smv-hide-des.smv-nav-bar{
		position: absolute;
		margin:0;
		z-index: 130;
		right:10px;
		top:0;
		a{
			width:50px;
			height: 50px;
			background: #312f30;
			text-align: center;
			display: inline-block;
			&:before{
				font-size: 28px;
				color: #fff;
				line-height: 50px;
			}
		}
		
	}
	.smv-head-left.smv-logo{
		margin: 0 0 0 15px;
		img{
			width: 130px;
		}
	}
	.smv-head-right{
		li{
			display:none;
		}
	}
	.smv-head-right-bottom{
		width: 100%;
		margin: 10px 0 0;
		.smv-call-now{
			margin-left: 0;
			position: absolute;
			top: 19px;
			z-index: 1;
			p{
				font-size: 11px;
				line-height: 12px;
			}
			a{
				font-size: 18.5px;
				line-height: 25px;
			}
		}
		.smv-search-box{
			width: 100%;
			.smv-input-box{
				width: 100%;
			}
		}
	}
	.smv-category{
	    bottom: 0;
	    background:none;
	    left: -100%;
	    margin-top: 0;
	    overflow-y: scroll;
	    position: absolute;
	    top: 0px;
	    /*transition: all 0.7s ease 0s;*/
	    width: 100%;
	    z-index: 100;
	    height: auto;
	    .smv-wrap{
	    	margin:0;
	    	padding: 0 60px 0 0;
	    }
	   	.smv-nav{
   			width: 100%;
	   		li{
	   			width: 100%;
   				background: @color-base;
   				border-top: 1px solid #f28042;
   				&:hover{
   					background: @color-base;
   				}
	   			a{
	   				font-size: 13px;
	   				color: #fff;
	   				display: block;
	   				padding: 12px 40px 12px 15px;
	   				line-height: 18px;
	   			}
	   			div{
	   				display: none !important;
	   				position: initial;
	   				width: 100%;
   					li{
   						background: #fff;
   						border-top: 1px solid #c1c0c1;
   						a{
   							color: #312f30;
							padding-left: 30px;
   						}
						&:hover{
							background: #fff;
						}
						.fa-angle-down{
							color:  #312f30;
						}
						div.sub-category2{
							li{
   								border-top:0;
								a{
									color:#312f30; 
									padding-left: 50px;
								}
							}
						}
   					}
   					li:first-child{
   						border-top: 0;
   					}
	   			}
	   			i{
	   				color: #fff;
				    position: absolute;
				    right: 15px;
				    top: 15px;
				    z-index: 1;
			    	&.fa-angle-down{
		   				display: inline-block;
		   			}
	   			}
	   			&.active{
	   				& > div{
	   					display:inline-block !important;
	   					float: left;
	   				}
	   				& > i.fa-angle-down{
	   					.transform;
	   				}
	   			}
	   		}
	   		li.smv-title-menu{
	   			background: #fff !important;
   				border-top: 0;
	   			a{
	   				.background-image-base(0 -184px);
	   				display: block;
	   				margin-left: 12px;
	   				text-indent: 0;
	   				color: #312f30;
	   				padding: 15px 10px 15px 25px;
	   				&:hover{
	   					background-color: #fff;
	   				}
	   			}
	   		}
	   	}
	}
    .smv-collapse .smv-category{
	    left: 0;
	}
    .smv-collapse .smv-nav-bar{
	    a{
	    	&:before{
	    		content:"\f00d";
	    		font-family: 'FontAwesome';
	    		font-size: 28px;
	    		color: #312f30;
	    		padding:2px 0 0 2px
	    	}
	    	i{
	    		display:none;
	    	}
	    }
	}
	
	/* begin style page detail */
	.smv-img-gallery{
		.smv-main-image{
			padding:0 30px 0 0;
		}
	}
	.smv-product-info-main{
		.smv-tags{
			.smv-tags-item{
				min-width:96px;
				p{
					font-size: 13px;
					line-height: 13px;
					span{
						font-size: 11px;
						line-height: 13px;
					}
				}
			}
		}
	}
	/* end style page detail */
}
@media screen and (max-width: 991px) {
	.smv-wrap-cate{
		.smv-cate-item{
			.smv-wrap-item{
				.smv-cate-name{
					height: 30px;
					padding: 3px 30px 3px 10px;
					h3{
						font-size: 13px;
						line-height: 14px;
						height: 30px;
					}
				}
				a.smv-cursor-arrow{
					background-size: 170px;
					.background-image-base(0 -131px);
					width: 15px;
					height: 15px;
					right: 5px;
					bottom: 9px;
				}
			}
		}
	}	
	.smv-tags{
		.smv-tags-item{
			padding: 12px 0 8px;
			.smv-wrap-item{
				p{
					line-height: 18px;
					font-size: 15px;
					span{
						line-height: 18px;
						font-size: 15px;
					}
				}
			}
			img{
				width: 24px;
			}
		}
		.smv-tags-item:nth-child(2){
			img{
				width: 21px;
			}
		}
		.smv-tags-item:nth-child(3){
			img{
				width: 18px;
			}
		}
		.smv-tags-item:nth-child(4){
			img{
				width: 27px;
			}
		}
	}
	.smv-product-list{
		margin-top:-20px;
		.smv-product-item{
			width: 33.3%;
			margin-top:20px;
		}
	}
	.smv-list-recently{
		li{
			width: 33.3%
		}
	}
	.smv-our-brands{
		ul{
			li{
				width: 25%;
				margin: 10px 0;	
			}
		}
	}
	.smv-newsletter{
		.smv-wrap > div{
			display: block;
			width: 100%;
		}
		.smv-form-newsletter{
			padding-left: 50px;
			form input{
				width: 260px;
			}
		}
		.smv-follow{
			padding-left: 50px;
			float: left;
		}
	}
	#smv-footer{
		padding: 20px  0 0;
		& > .smv-wrap{
			margin: 0;
		}
		.smv-cate-item{
			width: 50% !important;
			padding: 0;
			margin: 0;
			.smv-wrap-item{
				padding: 10px 10px 0px 35px !important;
				float: left !important;
			}
			&.smv-account .smv-wrap-item{
				border:0;
			}
		}
		.smv-account{
			clear: left;
		}
		.smv-copy-right{
			margin-top:20px;
		}
	}

	/* begin style page detail */
	.smv-break-crumb{
		 margin: 10px 0;
	}
	.smv-product-detail{
		h2.smv-product-name{
			margin-top:10px;
			font-size: 24px;
   			line-height: 30px;
		}
	}
	.smv-product-info-main{
		width:100%;
	}
	.smv-img-gallery{
		width:100%;
		text-align: center;
		.smv-main-image{
			padding:20px 0 0;
		}
	}
	.smv-product-brand {
    	border-bottom: 1px solid #cccccc;
    	padding-bottom: 25px;
    	a{
    		float: right;
    	}
    }
    .smv-tab-description{
    	.smv-box-tab{
    		width: 100%;
    	}
    	#smv-box-tab-1 .smv-content-text{
    		margin:0;
    	}
    	#smv-box-tab-2{
    		margin-top:10px;
    		.smv-content-text,.smv-title-tab{
    			margin-left:0;
    		}
    	}
    }
    .smv-btn-change-tab{
    	ul{
    		margin-top:10px;
    	}
    }
	/* end style page detail */
	/* begin style page list */
		.smv-sidebar-main{
			margin-top:10px;
			width:100%;
			.smv-filter-header{
				margin: 0 0 10px;
				display: block;
				.smv-filter-title{
					padding: 12px 18px;
					color: #fff;
					background: #4a525f;
					text-transform:none;
					position: relative;
					&:after{
						content: "\f0d7";
						font-family:'FontAwesome';
						position: absolute;
						top:13px;
						right:15px;
						font-size: 16px;
					}
				}
				&.active{
					.smv-filter-title:after{
						content:"\f0d8";
						top:11px;
					}
				}
			}
			.smv-filter-list{
				display: none;
			}
			.smv-filter-group{
				margin-bottom: 10px;
				.smv-title{
					position: relative;
					&:after{
						content: "\f0d8";
						font-family:'FontAwesome';
						position: absolute;
						top:13px;
						right:15px;
						font-size: 16px;
						color:#fff;
					}
					&.active:after{
						content:"\f0d7";
						top:15px;
					}
				}
			}
		}
		.smv-main{
			width:100%;
			.smv-main-container{
				margin:20px 0 0;
			}
		}
		.smv-wrap-product-list {
			.smv-product-list{
				.smv-product-item{
					.smv-item{
						border-right: 1px solid #efefef;
						border-top: 1px solid #efefef;
					}
				}
				.smv-product-item:nth-child(4){
					.smv-item{
						border-top: 1px solid #efefef;
						padding-top:25px;
					}
				}
				.smv-product-item:nth-child(4n){
					.smv-item{
						border-right: 1px solid #efefef;
					}
				}
				.smv-product-item:nth-child(3n){
					.smv-item{
						border-right: 0;
					}
				}
			}
		}
	/* end style page list */
}
@media screen and (max-width: 767px) {
	.smv-head-right{
		margin-top: 9px;
	}
	.smv-block-banner{
		.owl-dots{
			bottom: 6px;
		}
	}
	.smv-title-block {
		h2{
			padding: 30px 0 27px;
		}
		.smv-btn-view-all{
			top:31px;
		}
	}
	.smv-wrap-cate{
		margin: 0 -8px;
		.smv-cate-item{
			margin-bottom: 10px;
			.smv-wrap-item{
				margin: 0 8px;
			}
		}
	}
	.smv-tags{
		margin-top:10px;
		.smv-tags-item{
			.smv-wrap-item{
				padding: 0 5px;
				p{
					font-size: 13px;
					line-height: 16px;
					span{
						font-size: 10.75px;
						line-height: 12px;
					}
				}
			}
		}
	}
	.smv-new-arrivals-slider, .smv-seller-slider{
		padding: 0 30px;
	}
	.owl-carousel.smv-product-list{
		.smv-product-item{
			width: 100%;
		}
	}
	.smv-product-list{
		margin: 0;
		.smv-product-item{
			margin:0;
			.smv-item{
				margin:0;
				.smv-item-img{
					.smv-sale-off, .smv-sale-off span,.smv-shipping-method{
						font-size: 11px;
						line-height: 17px;
					}
				}
				.smv-item-info{
					.smv-product-name{
						a{
							font-size: 12px;
							line-height: 17px;
							height: 34px;
						}
					}
					.smv-item-price{
						p{
							font-size: 13px;
							line-height: 18px;
						}
						.smv-new-price{
							font-size: 16px;
							line-height: 18px;
						}
					}
					.smv-btn-add{
						margin-top:0;
						a span{
							font-size: 12px;
							line-height: 32px;
						}
					}
				}
			}
		}
	}
	.owl-controls{
		.owl-nav{
			div{
				display: inline-block;
				position: absolute;
				top:50%;
				margin-top: -15px;
				cursor: pointer;
				i{
					font-size: 50px;
					line-height: 30px;
				}
				&.owl-prev-product{
					left: -30px;
				}
				&.owl-next-product{
					right: -30px;
				}
			}
		}
	}
	.smv-newsletter{
		.smv-title-newsletter{
			h3{
				font-size: 18px;
				line-height: 24px;
				span{
					font-size: 14px;
					line-height: 17px;
				}
			}
		} 
		.smv-form-newsletter{
			form{
				input{
					width: 270px;
				}
			}
		}

	}
	.smv-copy-right{
		.smv-footer-copy-right{
			p span{
				font-size: 12px;
				line-height: 19px;
			}
		}
	}

	/* Begin style page detail */

	.smv-product-add-form{
		.smv-quantity{
			.smv-stock{
				width: 50%;
				float: right;
				text-align:center;
				a{
					padding-left:0;
				}
			}
		}
		.smv-actions p{
			width:50%;
			float: left;
			&:last-child{
				text-align: center;
			}
			a{
				padding-left:0;
			}
		}
	}
	.smv-product-info-main{
		.smv-tags{
			.smv-tags-item{
				height:110px;
				min-width:113px;
				p{
					font-size: 16px;
					line-height: 16px;
					span{
						font-size: 14px;
						line-height: 14px;
					}
				}
				p:last-child{
				    height: 45px;
				}
				img{
					width: auto;
				}
			}
			.smv-tags-item:last-child{
				.smv-wrap-item{
					padding: 15px 31px 0;
				}
				img{
					width:60px;
				}
			}
		}
	}
	.smv-block-shipping-estimate{
		.smv-postage{
			padding: 20px 25px;
		}
		.smv-shipping-estimation-form .smv-country{
			width: 267px;
		}
		p.smv-block-subtitle{
			font-size: 14px;
		}
	}
	.smv-you-might-also-like{
		.smv-product-list{
			margin: -20px -10px 0;
			.smv-product-item{
				width: 20%;
				.smv-item{
					margin: 0 10px;
					.smv-item-img{
						width: 100%;
						a{
							margin:0;
						}
					}
					.smv-item-info{
						display: none;
					}
				}
			}
		}
	}
	/* end style page detail */
}
@media screen and (max-width: 640px) {
	/* begin style page detail */

	.smv-product-add-form{
		.smv-actions{
			p button{
				width: 100%;
			}
		}
	}
	/* end style page detail */
}
@media screen and (max-width: 639px) {
	.smv-head-right-bottom{
		.smv-call-now{
			display: none;
		}
	}
	.smv-head-right{
		.smv-mini-cart{
			padding: 6px 7px 6px 11px;
			a::after{
				display: none;
			}
		}
	}
	.smv-block-banner{
		.owl-dots{
			bottom: 4px;
			.owl-dot{
				span{
					width: 12px;
					height: 12px;
					margin: 0 3px;
				}
			}
		}
	}
	.smv-title-block {
		h2{
			font-size: 24px;
			line-height: 26px;
		}
	}
	.smv-wrap-cate{
		margin: 0 -3px;
		.smv-cate-item{
			width: 50%;
			.smv-wrap-item{
				margin: 0 3px;
			}
		}
	}
	.smv-tags{
		padding: 10px 0;
		.smv-tags-item{
			width: 50%;
		}
	}
	.smv-product-list{
		.smv-product-item{
			.smv-item{
				.smv-item-info{
					.smv-item-price{
						p{
							font-size: 11px;
    						line-height: 16px;
						}
						.smv-new-price{
							font-size: 14px;
    						line-height: 16px;
						}
					}
					.smv-btn-add{
						a span{
							font-size: 10.12px;
    						line-height: 30px;
						}
					}
				}
			}
		}
	}
	.smv-list-recently{
		margin: -10px -5px 0;
		li{
			width: auto;
			margin: 10px 5px 0;
			.smv-text{
				display: none
			}
		}
	}
	.smv-our-brands{
		margin-top:30px;
		.smv-title-block .smv-btn-view-all{
			display:none;
		}
		.smv-brands-content{
			padding: 0 30px;
		}
		ul{
			margin: 0;
			li{
				width: 100%;
				text-align: center;
			}
		}
		.owl-controls{
			.owl-nav{
				div{
					display: inline-block;
					position: absolute;
					top:50%;
					margin-top: -14px;
					cursor: pointer;
					i{
						font-size: 50px;
					}
					&.owl-prev-brand{
						left: -30px;
					}
					&.owl-next-brand{
						right: -30px;
					}
				}
			}
		}
	}
	.smv-newsletter{
		.smv-wrap{
			margin: 0 20px;
		}
		.smv-title-newsletter{
			h3{
				background: none;
				padding:0;
				font-size: 17px;
			}
		}
		.smv-form-newsletter{
			form input{
				width: 220px;
			}
			padding-left:0;
		}
		.smv-follow{
			padding-left:0;
		}
	}
	#smv-footer{
		.smv-cate-item{
			width: 100% !important; 
			.smv-wrap-item{
				padding: 10px 20px !important;
				border:0;
				min-height:10px;
			}
		}
	}
	.smv-copy-right{
		padding: 20px 10px;
		.smv-footer-copy-right{
			width: 100%;
			padding-top:20px;
			p{
				width:100%;
				text-align: left;
			}
			a{
				float: left;
				margin-top:10px;
			}
		}
	}

	/* begin style page detail */

	.smv-product-detail{
		h2.smv-product-name{
			font-size: 22px;
   			line-height: 28px;
		}
	}
	.smv-product-info-main{
		.smv-tags{
			.smv-tags-item{	
				min-width:87px;
				height: 100px;
				p{
					font-size: 13px;
					line-height: 13px;
					span{
						font-size: 11px;
						line-height: 13px;
					}
					&:last-child {
					    height: 35px;
					}
				}
				&:last-child{
					.smv-wrap-item{
						padding: 15px 5px 0;
					}
					img {
						width:50px;
					}
				}
			}
		}
	}
	.smv-product-price p{
		display: inline-block;
		width:100%;
		span{
			width:49%;
			min-width:10px;
		}
	}
	.smv-block-shipping-estimate{
		p.smv-block-subtitle{
			width:100%;
			padding:0 0 15px;
		}
		.smv-shipping-estimation-form{
			.smv-country{
				width: 283px;
			}
		}
	}
	.smv-you-might-also-like{
		.smv-product-list{
			margin: -10px -5px 0;
			.smv-product-item{
				margin-top:10px;
				.smv-item{
					margin: 0 5px;
				}
			}
		}
	}
	/* end style page detail */
	/* begin style page list */

	.smv-wrap-product-list {
		.smv-product-list{
			 margin: 0 -5px;
			.smv-product-item{
				width:50%;
				.smv-item{
					border:0 !important;
					padding: 5px 5px !important;;
					margin: 0;
				}
			}
				
		}
	}
	.smv-tool-bar{
		.smv-pages{
			display: none;
		}
	}
	/* end style page list */
}
@media screen and (max-width: 479px) {
	
	.smv-product-list{
		.smv-product-item{
			.smv-item{
				.smv-item-info{
					.smv-item-price{
						p {
						    font-size: 11px !important;
						    line-height: 18px !important;
						}
						.smv-new-price{
						    font-size: 14px !important;
						    line-height: 18px !important;
						}
					}
				}
			}
		}
	}
	/* begin stype page details */
	.smv-product-brand{
		span{
			width:50%;
			display: inline-block;
		}
		img{
			float: right;
			padding: 0;
		}
		a{
			display: inline-block;
			margin: 20px 0 0;
			clear: right;
		}
	}
	.smv-product-add-form{
		.smv-quantity{
			margin: 10px 0 0;
			.smv-stock{
				width:100%;
				margin: 20px 0 0;
			}
		}
		.smv-actions{
			p{
				width:100%;
				a{
					padding:0;
					margin:20px 0 0;
				}
			}
		}
	}
	.smv-product-info-main{
		.smv-tags{
			padding:0;
			margin:10px  0 0;
			text-align: center;
			.smv-wrap-tags{
				.smv-tags-item{
					width:31%;
					margin:10px 0 0;
					float: left;
					&:nth-child(2){
						margin: 10px auto 0 0;
						float: none;
					}
					&:nth-child(3){
						float: right;
					}
					&:last-child{
						width:100%;
					}
				}
			}
		}
	}
	.smv-block-shipping-estimate{
		p.smv-block-subtitle{
			font-size: 13px;
		}
		.smv-shipping-estimation-form{
			.smv-country{
				width:123px;
			}
		}
	}
	.smv-you-might-also-like{
		.smv-product-list{
			.smv-product-item{
				width: 33.3%;
			}
		}
	}

	/* end stype page details */
}