
@import "reset.less";
@import "mixing.less";



.smv-clr{
	clear: both;
}
.smv-block-content{
	clear: both;
	display: inline-block;
	width: 100%;
	float: left;
}
.smv-title-block{
	position: relative;
	h2{
		color: @color-base;
	    font-family: "RalewayMedium",sans-serif;
	    font-size: 26px;
	    line-height: 28px;
	    padding: 40px 0 30px;
	    text-transform: uppercase;
	}
}

.smv-reviews {
	margin-top: 10px;
	.smv-stars {
		&:before {
			font-family: 'FontAwesome';
			letter-spacing: 0px;
			font-size: 14px;
			color: #ffe11b;
		}
		&.smv-stars-20 {
			&:before {
				content: '\f005';
			}
		}
		&.smv-stars-40 {
			&:before {
				content: '\f005\f005';
			}
		}
		&.smv-stars-60 {
			&:before {
				content: '\f005\f005\f005';
			}
		}
		&.smv-stars-80 {
			&:before {
				content: '\f005\f005\f005\f005';
			}
		}
		&.smv-stars-100 {
			&:before {
				content: '\f005\f005\f005\f005\f005';
			}
		}
	}
	.smv-count {
		font-size: 14px;
		color: #a5a5a5;
		font-family: 'Arial';
		margin-left: 2px;
	}
}
/* begin style header */
.smv-top-header{
	display: inline-block;
	width:100%;
	float: left;
}
.smv-nav{
	display: inline-block;
}
.smv-head-left{
	float: left;
	margin: 15px 0 10px;
}
.smv-head-right{
	li{
		float: left;
		padding:0 12px;
		margin-top:7px;
		border-right: 1px solid #c0c0c0;
		a{
			padding-left: 22px;
			line-height: 20px;
			font-family: 'arial';
			.background-image-base;
			&:hover{
				.background-image-base(0 -23px);
				color: #999;
			}
		}
	}
	li.smv-login{
		a{
			.background-image-base(0 -47px);
			&:hover{
				.background-image-base(0 -72px);
			}
		}
	}
	li.smv-wishlist{
		border:0;
		a{
			.background-image-base(0 -101px);
			&:hover{
				.background-image-base(0 -128px);
			}
		}
	}

	.smv-mini-cart{
		border:0;
		position: relative;
		background-color: #4a525f;
		padding: 6px 13px;
		margin:0 0 0 10px;
		float: right;
		a{
			.background-image-base(0 -158px);
			&:hover{
				.background-image-base(0 -158px);
			}
			padding: 0px 0px 0 18px;
			span.smv-qty-item{
				color: #111;
				background: #fff;
				font-size: 10px;
				font-family: 'Arial';
				.border-radius;
				line-height: 15px;
				padding: 0px 4px;
				margin:0 5px 0 0;
				display: inline-block;
			}
		}
		a:after{
			color: #8f8f8f;
			content: "\f0d7";
			display: inline-block;
			font-family: "FontAwesome";
			font-size: 16px;
			font-weight: normal;
			line-height: 20px;
			margin: 0 0 0 3px;
			overflow: hidden;
			text-align: center;
			vertical-align: top;
		}
		a, span{
			color: #fff;
			font-weight: 700;
		}
		.smv-wrap-mini-cart{
			display: none;
			position: absolute;
			top:100%;
			right:0;
			min-width:300px;
			z-index: 1;
			background: #fff;
			border: 1px solid #ccc;
			.smv-emptry{
				padding: 15px;
			}
		}
	}
}
.smv-head-right-bottom{
	clear: right;
	margin-top: 34px;
	.smv-input-box{
	    margin: 0;
	    padding: 0;
	    width: 300px;
	    display: inline-block;
	    position: relative;
	    form{

			border: 3px solid #dedede;
		    input{
		    	border:0;
			    color: #999;
			    font-family: "arial";
			    font-size: 14px;
			    height: 33px;
			    line-height: 18px;
			    margin: 0;
			    padding-right: 46px;
			    width: 100%;
		    }
		    button{
		    	border:0;
		    	background: 0;
		    	padding: 0;
		    	position: absolute;
		    	top: 0px;
		    	right: 0px;
		    	i{
			    	height: 39px;
			    	width: 39px;
			    	background: @color-base;
			    	line-height: 39px;
			    	font-size:22px;
			    	color:#fff;
		    	}
		    	&:hover i{
		    		background: @color-base-hover;
		    	}
		    }
	    }
	}
	.smv-call-now{
		margin-left: 32px;
	    p{
			color: #999;
		    font-family: "Arial";
		    font-size: 11px;
		    line-height: 12px;
	   		margin: 0;
	    }
	    a{
	    	color: #019ee1;
		    font-family: "RalewayExtrabold",sans-serif;
		    font-size: 30px;
		    font-weight: 600;
		    line-height: 31px;
		    &:hover{
		    	color:#019ee1
		    }
	    }
	}
}
/* end style header */


/* begin style menu top */
.smv-category{
	background: #312f30;
	border-bottom: 3px solid @color-base;
	.smv-nav{
		float: right;
		li{
			display: inline-block;
			position: relative;
			float: left;
			a{
			 	color: #fff;
			    font-family: "RalewayExtrabold",sans-serif;
			    font-size: 13px;
			    line-height: 47px;
			    text-transform: uppercase;
			    padding: 3px 6px 0;
			    display: inline-block;
			}
			i{
				display: none;
			}
		    &:hover{
		    	background: #1B1B1B;
		    	div.sub-category{
					display:inline-block;
				}
		    }
			div{
				display:none;
				position:absolute;
				top:50px;
				left:0;
				z-index: 3;
				min-width:220px;
				background: #1B1B1B;
				li{
					width:100%;
					a{
					    line-height: 20px;
					    padding: 10px 15px;
					    width: 100%;
			    		text-transform: none;
			    		font-family: "Raleway",sans-serif;
					}
					&:hover{
						background:  #312F30;
					    a{
					    	color: @color-base;
					    }
					    div.sub-category2{
					    	display: inline-block;
					    }
					}
					div.sub-category2{
						display:none;
						top:0px;
						left:100%;
						a{
							color: #fff;
							&:hover{
						    	color: @color-base;
						    }
						}
					}
				}
			}
		}
		li.smv-title-menu a{
			.background-image-base( 0 -180px);
			text-indent: -9999px;
			width:16px;
			&:hover{
				background-color: #312f30;
			}
		}
		li:last-child{
			div{
				left: auto;
				right: 0 !important;
				div.sub-category2{
					top:0px;
					left:auto;
					right: 100% !important;
				}
			}
		}
	}
}
/* end style menu top */


/* begin style banner */
.smv-block-banner{
	.smv-slider{
		position: relative;
	}
	.owl-dots{
		text-align: center;
		position: absolute;
		bottom: 20px;
		left:0;
		z-index: 1;
		width:100%;
		.owl-dot{
			display: inline-block;
			span{
				background: #231f20;
			    .border-radius;
			    display: block;
			    height: 15px;
			    margin: 0  5px;
			    width: 15px;
		    }
		}
		.active span{
			background: #019ee1;
		}
	}
}
/* end style banner */

/* begin style category */
.smv-wrap-cate{
	margin:0 -18px;
	.smv-cate-item{
		width:25%;
		float: left;
		margin-bottom: 20px;
		.smv-wrap-item{
			margin: 0 18px;
			position: relative;
			.smv-cate-img{
				border: 1px solid #e5e5e5;
				img{
					width:100%;
				}
			}
			.smv-cate-name{
				background: #f1f1f1;
			    color: #231f20;
			    margin-bottom: 0;
			    padding: 3px 40px 3px 15px;
		   		height: 50px;
		   		overflow: hidden;
			    h3{
			    	color: #231f20;
				    display: table-cell;
				    font-family: "RalewayMedium",sans-serif;
				    font-size: 20px;
			    	line-height: 25px;
			    	vertical-align: middle;
			   		height: 50px;
			    }
			}
			a.smv-cursor-arrow{
				position: absolute;
				bottom: 15px;
				right:10px;
				width: 23px;
				height: 23px;
				z-index: 1;
				.background-image-base(0 -232px;)
			}
			a.smv-overlay{
				bottom: 0;
			    height: 100%;
			    left: 0;
			    position: absolute;
			    right: 0;
			    top: 0;
			    width: 100%;
				z-index: 2;
			}
		}
	}
}
/* end style category */
/* begin style tags */
.smv-tags{
	background: #F1F1F1;
	margin-top: 20px;
	.smv-tags-item{
		width:25%;
		padding: 15px 0;
		float: left;
	    text-align: center;
		.smv-wrap-item{
			padding: 0 10px;
		    display: inline-block;
			p{
				display: table-cell;
    			vertical-align: middle;
    			color: #4a525f;
			    font-family: "RalewaySemibold",sans-serif;
			    font-size: 24px;
			    line-height: 27px;
			    margin: 0;
			    span{
			    	color: #4a525f;
				    font-family: "arial";
				    font-size: 18px;
				    line-height: 21px;
				    display: block;
			    }
			    img{
			   		margin-left: 10px
			    }
			}
		}
	}
}
/* end style tags */
/* begin style best seller */
.smv-btn-view-all a{
	color: #4a525f;
    float: right;
    font-family: "RalewayBold",sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 0 0;
    text-decoration: none;
    text-transform: none;
    i{
    	color: @color-base;
    	font-weight: 400;
    	padding-left: 7px;
    }
}
.smv-title-block{
	.smv-btn-view-all{
		position: absolute;
		top:41px;
		right:0;
	}
}
.smv-product-list{
	margin: 0 -22px;
	position: relative;
	.smv-product-item{
		width: 25%;
		float: left;
		.smv-item{
			margin:0 22px;
			text-align: center;
			.smv-item-img{
				position: relative;
				float: none;
				margin: 0 auto;
				display: inline-block;
				a{
					float: left;
					border: 1px solid #e1e1e1;
				}
				span{
					position: relative;
					width: 100%;
					height: 100%;
					display: inline-block;
					float: left;
					&:hover:before{
						position: absolute;
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						z-index: 2;
						background: #000;
						opacity: 0.4;
						content:"";
					}
					&:hover:after{
						position: absolute;
						top:50%;
						left:0;
						width: 100%;
						height: 100%;
						z-index: 3;
						content:"\f002";
						font-family: 'FontAwesome';
						color: #fff;
						text-align: center;
						font-size: 30px;
						margin-top: -15px;
					}
				}
				.smv-sale-off ,.smv-shipping-method{
					position: absolute;
					top:8px;
					left: 8px;
					z-index: 1;
					font-size: 14px;
					font-family: 'RalewayExtrabold',sans-serif;
					line-height: 22px;
					padding: 0 7px;
					text-transform: uppercase;
					color: #fff;
					background: @color-base;
					span{
						&:after{
							content:"SALE";
							color: #fff;
						}
						i{
							display: none
						}
					}
				}
				.smv-shipping-method{
					bottom: 7px;
					top: auto;
					left: auto;
					right: 7px;
					background: #b3b3b3
				}
			}
			.smv-item-info{

				text-align: left;
				.smv-product-name a{
					color: #4a525f;
				    font-family: "RalewayExtrabold",sans-serif;
				    font-size: 14px;
				    line-height: 18px;
				    text-decoration: none;
				    margin: 15px 0 0;
				    height: 38px;
				    overflow: hidden;
					display: inline-block;
				    &:hover{
				    	color: #9ba4b4;
				    }
				}
				.smv-item-price{
					margin-top: 10px;
					display: inline-block;
					width: 100%;
					height: 45px;
					p{
						display: inline-block;
						width: 50%;
						float: left;
						font-size: 16px;
						line-height: 22px;
						color: #111111;
						font-family: 'Arial';
						font-weight: 400;
					}
					.smv-old-price{
						color: #9d9d9d;
						text-decoration: line-through;
					}
					.smv-new-price{
						font-size: 20px;
						font-weight: 700;
						&.smv-red{
							color: #da1010
						}
					}
				}
				.smv-item-condition{
					display: none
				}
				.smv-btn-add{
					margin-top:10px;
					a{
						background: #d8dde5;
					    border: 0 none;
					    border-radius: 0;
					    text-transform: uppercase;
					    white-space: nowrap;
					    width: 100%;
						display: inline-block;
						text-align: center;
						span{
						    color: #4a525f;
						    font-family: "RalewayExtrabold",sans-serif;
						    font-size: 14px;
						    line-height: 34px;
						}
						&:hover{
							background: @color-base;
							span{
								color: #fff;
							}
						}
						i{
							display: none;
						}
					}
				}
				.smv-coming-soon{
					a{
						background: #f1f1f1;
						cursor: context-menu;
						&:hover{
							background: #f1f1f1;
							span{
					    		color: #4a525f;
							}
						}
					}
				}
			}
		}
	}
}
/* end style best seller */
/* begin style recently viewed */
.smv-recently-viewed{
	display: inline-block;
	width:100%;
}
.smv-list-recently{
	margin-top:-20px;
	li{
	    float: left;
	    position: relative;
	    width: 20%;
	    margin: 15px  0 0;
	    .smv-images {
    		float: left;
    		width: 90px;
    		img{
    			border: 1px solid #e1e1e1;
    		}
    	}
    	.smv-text{
    		overflow: hidden;
    		height: 90px;
    		p{
			    padding:0 15px;
			    a{
				    color: #4a525f;
				    font-size: 14px;
				    line-height: 18px;
    				font-family: "RalewayMedium",sans-serif;
	    		}
			}
    	}
	}
}
/* end style recently viewed */
/* begin style our brands */
.smv-our-brands{
	background: #f1f1f1;
	margin-top: 50px;
	padding-bottom: 20px;
	ul{
		margin: 0 -10px;
		li{
			width: 16.6%;
			height: 52px;
			text-align: center;
			float: left;
			margin: 15px 0;
			display: table;
			a{
				padding: 0 10px;
				display: table-cell;
				vertical-align: middle
			}
		}
	}
}
/* end style our brands */
/* begin style newsletter */
.smv-newsletter{
	background: #4a525f;
	padding-top: 25px;
	.smv-title-newsletter{
		float: left;
		padding-bottom: 25px;
		h3{
			color: #fff;
		    font-family: "RalewayExtrabold",sans-serif;
		    font-size: 18px;
		    line-height: 21px;
		    text-transform: uppercase;
		    margin: 0;
		    .background-image-base( 0 -271px);
    		padding: 0 15px 0 53px;
		    span{
				color: #fff;
			    font-family: "Arial";
			    font-size: 14px;
			    line-height: 17px;
			    display: block;
		    	text-transform: none;
		    }
		}
	}
	.smv-form-newsletter{
		float: left;
		padding-bottom: 25px;
		form{
			input{
				background: #fff;
			    border: 0 none;
			    border-radius: 0;
			    color: #4a525f;
			    font-family: "Arial";
			    font-size: 14px;
			    height: 40px;
			    line-height: 18px;
			    width: 268px;
				float: left;
			}
			button{
				color: #fff;
			    font-family: "RalewayBold",sans-serif;
			    font-size: 18px;
			    font-weight: 500;
			    text-transform: uppercase;
			    background: @color-base;
			    border: 0 none;
			    border-radius: 0;
			    height: 40px;
			    line-height: 20px;
			    padding: 0 13px;
				float: left;	
				margin-left: 5px;
				cursor: pointer;
				&:hover{
					background:  @color-base-hover;
				}
			}
		}
	}
	.smv-follow{
		float: right;
		padding-bottom: 25px;
		h5 {
		    color: #fff;
		    float: left;
		    font-family: "RalewayExtrabold",sans-serif;
		    font-size: 18px;
		    line-height: 21px;
		    padding-top: 11px;
		    text-transform: uppercase;
	    }
	    ul {
		    float: left;
		    margin: 0;
		    padding-left: 20px;
		    li{
		    	float: left;
			    height: 40px;
			    list-style: outside none none;
			    margin: 0 0 0 6px;
			    text-align: center;
			    width: 40px;
			    &.smv-face-icon {
    				background: #45619d;
    			}
    			a{
    				padding: 8px;
    				display: inline-block;
	    			i{
					  	color: #fff;
	    				font-size: 29px;
	    			}
    			}
		    }
	    }
	}
}
/* end style newsletter */
/* begin style footer */
#smv-main-footer{
	margin-top:40px;
	display: inline-block;
	width: 100%;
	float: left;
}
.smv-our-brands + #smv-main-footer{
	margin-top:0
}
#smv-footer{
	background: #312f30;
	display: inline-block;
	width: 100%;
	float: left;
	.smv-cate-item{
		float: left;
		width: 22%;
	    margin-bottom: 17px;
	    padding: 40px 0 0;
		&.smv-category-footer{
			width: 34%;
			.smv-wrap-item{
				border-left: 0;
				padding-left:0;
				li{
					width: 50% !important;
				}
			}
		}
		.smv-wrap-item{
			border-left: 1px solid #424242;
	    	min-height: 252px;
			padding: 0 30px;
			display: inline-block;
			h3.smv-item-title{
				padding-top:15px;
				color: #fff;
			    font-family: "RalewayExtrabold",sans-serif;
			    font-size: 18px;
			    line-height: 22px;
			    padding-bottom: 17px;
			    text-transform: uppercase;
			}
			.smv-group-login a{
				background: @color-base;
			    border: 0 none;
			    color: #fff;
			    display: inline-block;
			    font-family: "RalewayBold",sans-serif;
			    font-size: 14px;
			    line-height: 16px;
			    padding: 10px 13px;
			    margin-bottom: 15px;
			    text-transform: uppercase;
			    &:hover{
			    	background: @color-base-hover;
	    			text-decoration: none;
			    }
			    &.smv-login{
			    	 margin-right: 10px;
			    }
			}
			ul{
				li{
					margin: 0;
		    		padding-bottom: 8px;
		    		float: left;
					width: 100%;
					a{
						color: #ccc;
					    font-family: "Arial";
					    font-size: 14px;
					    line-height: 18px;
					    &:hover{
					    	color: #999;
		    				text-decoration: none;
					    }
					}
				}
			}
		}
		&.smv-accept{
			.smv-wrap-item{
				padding-right:0;
				float: right;
				li{
					width: auto;
					margin: 0 5px 13px 0;
				}
			}
		}
	}
}
.smv-copy-right{
	background: #231f20 none repeat scroll 0 0;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    float: left;
    .smv-footer-copy-left{
	    background: #fff;
	    float: left;
	    padding: 0 5px;
	    width:130px
    }
    .smv-footer-copy-right {
	    display: inline-block;
	    float: right;
	    padding-top: 10px;
	    p{
	    	float: left;
		    margin: -2px 0 0;
		    padding-right: 15px;
		    text-align: right;
	    	span{
	    		color: #fff;
			    display: block;
			    font-family: "Arial";
			    font-size: 14px;
			    line-height: 21px;
			    width: 100%;
	    	}
	    }
	    a {
    		float: right;
    	}
    }
}
/* end style footer */

/* begin style page detail */

.smv-break-crumb{
	margin: 25px 0;
	ul li{
		display: inline;
		a, span{
			color: #231f20;
		    font-weight: bold;
		    text-decoration: none;
		    font-size: 14px;
		    font-family: 'Arial';
		    line-height: 18px;
		    position: relative;
		}
		a:after{
			content:"\f105";
			font-family: 'FontAwesome';
			color: #858585;
    		font-weight: 400;
    		padding: 0 5px 0 8px;
		}
		span{
			color: #858585;
    		font-weight: 400;
		}
	}
}
.smv-product-detail h2.smv-product-name{
	color: #4a525f;
    font-family: "RalewayExtrabold",sans-serif;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
}
.smv-product-container{
	margin: 20px 0 0;
	display: inline-block;
	width:100%;
}
.smv-product-info-main{
	float: right;
	width: 50%;
}
.smv-sku-code {
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #848484;
	font-weight: normal;
    b{
    	color: #2c2c2c;
    }
}
.smv-product-reviews-summary{
	span, a{
		border: 0 none;
	    color: #2c2c2c;
	    font-family: "Arial";
	    font-size: 14px;
	    line-height: 18px;
	    padding-left: 0;
	}
	span.smv-label{
	    font-weight: bold;
	}
	.smv-reviews{
		display: inline-block;
		padding-left: 5px;
		margin: 7px 0 0;
	}
	.smv-reviews-actions{
		margin-top: 5px;
		a{
			color: #848484;
			&:hover{
				color: #b2b2b2 ;
				text-decoration: underline
			}
		}
		span.smv-line{
			padding: 0 7px;
			color: #848484;
		}
	}
}
.smv-product-brand{
	border-top: 1px solid #cccccc;
    display: inline-block;
    font-family: "Arial";
    color: #231f24;
    font-size: 14px;
    line-height: 18px;
    padding-top: 25px;
    margin-top: 20px;
    width: 100%;
	span {
    	font-weight: bold;
    	text-transform: uppercase;
    	vertical-align: top;
    }
    img{
    	padding: 0 20px 0 30px;
    }
    a{
    	color: #848484;
   		position: relative;
   		vertical-align: middle;
   		&:after{
   			content:"\f105";
   			font-family:'FontAwesome';
   			padding-left: 3px;
   		}
   		&:hover{
   			color:#b2b2b2;
   		}
    }
}
.smv-img-gallery{
	float: left;
	width: 50%;
	.smv-main-image{
		padding-right: 60px;
	}
}
.smv-product-price{
	border-top: 1px solid #cccccc;
    margin: 25px 0 2px;
    padding-top: 34px;
    width: 100%;
    .price-wrapper {
    	margin-bottom: 5px;
    }
    span{
    	color: #231f20;
	    font-family: "Arial";
	    font-size: 18px;
	    line-height: 23px;
	    min-width: 150px;
	    display: inline-block;
	    &.smv-price{
	    	font-size: 30px;
    		line-height: 37px;
    		font-weight: 600;
	    }
	    &.smv-price-was{
	    	color:#848484;
	    }
	    &.smv-price-save{
	    	color:#da1010;
	    }
    }
}
.smv-product-add-form{
	padding-top: 12px;
	.smv-quantity{
		display: inline-block;
		width: 100%;
	}
	.smv-label{
		color: #231f20;
	    font-family: "Arial";
	    font-size: 14px;
	    text-transform: uppercase;
	    float: left;
	    margin-top: 8px;
	}
	.smv-control {
	    display: inline-block;
	    padding-left: 20px;
	    float: left;
	    position: relative;
	    .smv-qty-decrease, .smv-qty-increase {
		    border: 0 none;
		    border-radius: 0;
		    float: left;
		    height: 36px;
   			width: 36px;
		    margin-right: 2px;
		    position: relative;
		    top: 0;
		    &:hover{
		    	background-color: #575757 !important;
		    }
		}
		.smv-qty-decrease {
    		background-color: #7e7e7e;
    		.background-image-base(0 -317px);
    	}
		.smv-qty-increase {
    		background-color: #7e7e7e;
    		.background-image-base(0 -354px);
    	}
		.smv-qty{
			float: left;
   			margin-right: 2px;
   			border: 1px solid #cccccc;
		    border-radius: 1px;
		    color: #8b8b8b;
		    font-family: "arial";
		    font-size: 18px;
		    height: 36px;
		    line-height: 20px;
		    text-align: center;
		    width: 56px;
		    -moz-appearance: textfield;
		}
	}
	.smv-stock{
		margin: 8px 0 3px;
		display: inline-block;
	    float: left;
		a{
			color: #289942;
		    display: inline-block;
		    font-family: "Arial";
		    font-size: 14px;
		    font-weight: bold;
		    line-height: 22px;
		    padding-left: 35px;
		    text-transform: none;
		    position: relative;
		    &:before{
		    	content:"\f058";
		    	font-family:'FontAwesome';
		    	padding-right: 5px;
		    }
		}
	}
	.smv-actions{
		display: inline-block;
		width: 100%;
		margin-top:20px;
		p{
			display: inline-block;
			button{
				width: 230px;
				background: #36b252;
			    border: 0 none;
			    border-radius: 0;
			    color: #fff;
			    font-family: "RalewayBold",sans-serif;
			    font-size: 20px;
			    line-height: 22px;
			    padding: 11px 0;
			    text-transform: uppercase;
				span{
					color: #fff;
				    font-family: "RalewayBold",sans-serif;
				    font-size: 20px;
				    line-height: 22px;
				    text-transform: uppercase;
				}
				&:hover{
					background: #1f8e38;
				}
			}
			a{
				color: #4a525f;
			    display: inline-block;
			    font-family: "RalewayExtrabold",sans-serif;
			    font-size: 18px;
			    line-height: 20px;
			    padding: 12px 0 0 32px;
			    text-transform: uppercase;
			    &:hover{
			    	color: #717e94;
			    }
			}
		}
	}
}
.smv-product-info-main{
	.smv-tags{
		background: #fff;
		margin: 30px -5px 0;
		.smv-tags-item{
			width:auto;
			margin: 0 5px;
			padding: 0;
			display: inline-block;
			float: left;
			min-width:117px;
			text-align: center;
			background: #f1f1f1;
			height:110px;
			.smv-wrap-item{
				padding:15px 5px 0px;
			}
			p{
				display: block;
				font-size: 16px ;
				line-height: 16px ;
				margin: 0 0 5px;
				span{
					font-size: 14px ;
					line-height: 14px ;
				}
				img{
					margin-left:0px;
				}
			}
			p:last-child{
			    height: 45px;
			    width: 100%;
			    display: table-cell;
    			vertical-align: middle;
    			float: none;
    			margin: 0 auto;
			}
		}
	}
}
.smv-block-shipping-estimate {
    background: #f1f1f1;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    .smv-postage{
    	padding: 20px 15px;
    	display: inline-block;
    }
    h3{
	    color: #4a525f;
	    font-family: "RalewayMedium",sans-serif;
	    font-size: 21px;
	    line-height: 23px;
	    padding-bottom: 15px;
	    text-transform: uppercase;
    }
    p.smv-block-subtitle{
    	color: #999;
	    float: left;
	    font-family: "Arial";
	    font-size: 14px;
	    line-height: 16px;
	    padding-right: 15px;
	    width: 28%;
    }
    .smv-shipping-estimation-form {
	    display: inline-block;
	    float: left;
	    .smv-country {
		    background: #fff none repeat scroll 0 0;
		    border: 1px solid #ddd;
		    border-radius: 1px;
		    float: left;
		    height: 32px;
		    width: 253px;
		    position: relative;
		    &:after{
		    	position: absolute;
		    	z-index: 1;
		    	top:14px;
		    	right: 8px;
	    		.background-image-base(0 -425px);
	    		width:11px;
	    		height:6px;
	    		content:"";
		    }
		}
	}
	select, input {
	    padding: 0 14px;
	    border: 0 none;
	    color: #5d5d5d;
	    font-family: "Arial";
	    font-size: 14px;
	    height: 30px;
	    width: 100%;
	}
	.smv-input-box {
	    background: #fff none repeat scroll 0 0;
	    border: 1px solid #ddd;
	    border-radius: 1px;
	    float: left;
	    height: 32px;
	    margin: 0 6px;
	    width: 72px;
	    input{
	    	padding: 0 5px;
	    }
	}
	.smv-actions{
		float: left;
		button{
			background:none;;
		    border: 0 none;
		    padding: 0;
			span{
				background: @color-base;
			    color: #fff;
			    font-size: 14px;
			    height: 32px;
			    line-height: 32px;
			    width: 39px;
			    font-family: "RalewayBold",sans-serif;
			    text-transform: uppercase;
			    display: inline-block;
		    } 
		    &:hover span{
				background: @color-base-hover;
		    }
		}
	}
}
.smv-you-might-also-like{
	width:100%;
	display: inline-block;
	.smv-product-list{
		margin-top:-20px;
		.smv-product-item{
			margin-top:20px;
			.smv-item{
				.smv-item-img{
					width:50%;
					float: left;
					a{
						margin-right: 15px;
					}
					.smv-shipping-method{
						display: none;
					}
					.smv-sale-off{
						span{
							font-size: 8.91px;
							line-height:14px;
						}
						padding: 0 4px;
					}
					span:hover:before, span:hover:after{
						display: none;
					}
				}
				.smv-item-info{
					width:50%;
					float: left;
					.smv-product-name a{
						font-size: 12px;
						line-height: 17px;
						text-transform: none;
						margin:0;
						height: 34px;
					}
					.smv-item-price{
						height: auto;
						p{
							font-size: 16px;
							line-height: 18px;
						}
						.smv-red{
							color:  #da1010
						}
						.smv-old-price{
							color: #515151;
							font-size: 14px;
							line-height: 18px;
							text-decoration: line-through;
							float: right;
							width: auto;
						}
						.smv-mrsp-price , .smv-save-price{
							display: none;
						}
					}
					.smv-coming-soon a span{
						font-size: 11px;
					}
				}
			}
		}
	}
}
.smv-information{
	margin-top: 40px;
	width:100%;
	display: inline-block;
}
.smv-btn-change-tab{
	ul{
		width:100%;
		display: inline-block;
		float: left;
		margin: 30px 0 0;
		li{
			float: left;
		    list-style: outside none none;
		    margin: 0 6px 0 0;
		}
	}
}
.smv-btn-change-tab li a, .smv-title-tab{
	background: #d8dde5 none repeat scroll 0 0;
    border-bottom: 3px solid #d8dde5;
    color: #9ba4b4;
    display: inline-block;
    font-family: "RalewayExtrabold",sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding: 14px 16px 10px;
    text-transform: uppercase;	
}
.smv-btn-change-tab li.active a, .smv-title-tab{
	background: #4a525f;
    border-bottom: 3px solid #019ee1;
    color: #fff;
}
.smv-tab-content{
    color: #404040;
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    margin-top: -1px;
    min-height: auto;
    width: 100%;
	float: left;
	.smv-content-text{
    	padding: 20px 24px;
	border: 1px solid #cccccc;
	}
	p, li, a, td, th, span, {
    	color: #404040;
	    font-family: "Arial";
	    font-size: 14px;
	    line-height: 24px;
	    margin-bottom: 8px;
	}
	ul{
		margin:0;
		padding:0;
		li{
			list-style:none;
			strong {
		    	display: inline-block;
		    	min-width: 119px;
		    }
		}
		li:before{
			content: "\f105"; 
			font-family:'FontAwesome'; 
			width:10px; 
			height:10px; 
			padding-right:10px;
			color:#ef6013;
		}
	}  
	img{
		max-width:100%;
	}
	table{
		width:100%;
		tr{
			background:#fff; 
			td, th{
				padding:7px 10px; 
				font-family:'Arial'; 
				font-size:14px; 
				color:#404040; 
				line-height:20px; 
				margin:0;
			}
			td:first-child, th:first-child{
				font-weight:bold;
				width:42%
			}
		}
		tr:nth-child(2n){
			background:#f4f4f4; 
		}
	}
}  

.smv-tab-description{
	.smv-box-tab{
		width: 50%;
		float: left;
	}
	#smv-box-tab-1 .smv-content-text{
		margin-right: 24px;
	}
	#smv-box-tab-2 .smv-content-text, #smv-box-tab-2  .smv-title-tab{
		margin-left: 24px;
	}
}
/* end style page detail */
/* begin style page list */
.smv-sidebar-main{
	width:22%;
	float: left;
	position: relative;
	.smv-filter-header{
		display:none;
		.smv-filter-title{
		    color: #111111;
		    font-family: "RalewayBold";
		    font-size: 20px;
		    text-transform: uppercase;
		}
	}
	.smv-filter-list{
		.smv-btn-clear{
			display:none;
		    font-size: 14px;
		    text-decoration: underline;
		    position: absolute;
		    top:0;
		    right:0;
		    z-index:1;
		}
		.smv-title{
			background: #4a525f;
		    border-top: 1px solid #d9d9d9;
			span{
				color: #fff;
			    font-family: "RalewayBold",sans-serif;
			    font-size: 18px;
			    line-height: 24px;
			    text-transform: uppercase;
			    padding: 10px 18px;
			    display: inline-block;
			}
		}
		.smv-filter-items{
			background: #f5f5f5;
			border: 1px solid #d9d9d9;
			border-top:0;
			ul{
				li{
					border-bottom: 1px solid #e7e7e7;
   					margin-bottom: 0;
   					&:last-child{
   						border:0;
   					}
					a{
						color: #111;
					    display: block;
					    font-family: "Arial";
					    font-size: 14px;
					    line-height: 18px;
					    padding: 13px 15px;
					    span{
					    	color: #999;
					    	padding-left:5px;
					    }
					    &:hover{
					    	background: #ebebeb;
					    }
					}
				}
			}
		}
	}
	.smv-filter-group{
		margin-bottom: 20px;
		&:last-child{
			margin:0;
		}
	}
}
.smv-main{
	width: 78%;
	float: left;
	.smv-main-container{
		margin-left: 20px;
	}
	.smv-page-title-wrapper{
		h1.smv-page-title{
			color: #ef6013;
		    font-family: "RalewayMedium",sans-serif;
		    font-size: 26px;
		    line-height: 35px;
		    text-transform: uppercase;
		    width: 100%;
		}
	}
}
.smv-tool-bar{
	margin-top:20px;
	display: inline-block;
	width:100%;
	.font-base-tool-bar{
	    color: #333;
	    font-family: "Arial";
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 18px;
	}
	.smv-sort-by{
		display: inline-block;
		label, .smv-sort-by-select{
		    text-align: left;
		    .font-base-tool-bar;
		}
		.smv-sort-by-select{
			position: relative;
			display: inline-block;
			margin-left: 5px;
			&:after{
				content:"";
				position:absolute;
				top:0;
				right:1px;;
				z-index: 1;
				width:28px;
				height:28px;
				.background-image-base(0 -456px);
			}
			select{
			    border: 1px solid #ccc;
			    .font-base-tool-bar;
			    height: 29px;
			    padding: 3px 30px 3px 10px;
			    width: 166px;
			}
		}
	}
	.smv-pages{
		display: inline-block;
		float: right;
			p{
				.font-base-tool-bar;
				display: inline-block;
			}
			ol{
				display: inline-block;
				li, a{
					.font-base-tool-bar;
					display: inline-block;
				}
				li{
					margin: 0 0 0 2px;
					position: relative;
    				padding: 6px 4px;
					&.smv-current {
	    				background: #4a525f;
	    				color: #fff !important;
	    			}
	    			&.smv-item{
	    				a{
	    					display: inline-block;
						    height: 19px;
						    text-indent: -99999px;
						    width: 15px;
					    }
					    .smv-next{
						    .background-image-base(0 -499px);
						}
					    .smv-prev{
						    transform: rotate(180deg);
						    .background-image-base(0 -499px);
						}
	    			}
				}
			}
	}
}
.smv-wrap-product-list {
	display: inline-block;
	width:100%;
	position: relative;
	margin-top:25px;
	&:before{
		content:"";
		width:10px;
		height: 100%;
		position:absolute;
		top:0;
		left:-10px;
		background:#fff;
		z-index:2;
	}
	&:after{
		content:"";
		width:10px;
		height: 100%;
		position:absolute;
		top:0;
		right:-10px;
		background:#fff;
		z-index:2;
	}
	.smv-product-list{
		 margin: 0 -10px;
		.smv-product-item{
			margin:0;
			.smv-item{
				border-right: 1px solid #efefef;
				border-top: 1px solid #efefef;
				padding: 25px 10px;
				margin: 0;
				.smv-item-info{
					.smv-item-price{
						p{
							font-size: 14px;
							line-height:18px;
						}
						.smv-new-price{
							font-size: 18px;
							line-height:18px;
						}
					}
				}
			}
		}
		.smv-product-item:nth-child(1), .smv-product-item:nth-child(2),.smv-product-item:nth-child(3),.smv-product-item:nth-child(4){
			.smv-item{
				border-top: 0;
				padding-top:0;
			}
		}
		.smv-product-item:nth-child(4n){
			.smv-item{
				border-right: 0;
			}
		}
			
	}
}
/* end style page list */
@import "responsive.less";